<app-header></app-header>
<main class="pt-40">
  <section
    class="relative flex h-80 items-center justify-center bg-black text-center lg:h-[450px]"
    id="protraining_cover"
  >
    <div class="absolute inset-0">
      <img
        src="pro_training.jpg"
        alt="services_cover"
        class="h-full w-full object-cover"
      />
      <div class="absolute inset-0 bg-black opacity-50"></div>
    </div>
    <div class="relative z-10 px-6 text-white">
      <p class="mb-5 text-4xl font-bold lg:text-5xl">ATC Pro Online Training</p>
    </div>
  </section>

  <section class="mx-auto my-16 max-w-screen-md p-5 text-center">
    <h2 class="mb-8 text-3xl font-bold lg:text-5xl">
      Welcome to ATC Pro Online Training
    </h2>
    <p class="text-grayPar">
      ATC Pro Online Training, a division of ATC Group - Ashraf Abdel Ghani
      Accountants and Tax Consultants, is dedicated to providing top-tier
      professional online training programs designed to enhance the skills and
      knowledge of individuals and businesses in the fields of accounting,
      taxation, and finance.
    </p>
  </section>

  <section class="bg-grayBg">
    <section
      class="mx-auto flex max-w-screen-xl flex-col-reverse py-10 md:flex-row"
    >
      <div class="flex flex-col p-4 md:w-1/2">
        <h4 class="mb-4 text-xl font-bold text-primary">
          Professional Education
        </h4>
        <p class="mb-6 pr-10 text-grayPar">
          Comprehensive courses designed to equip you with industry-relevant
          knowledge and skills.
        </p>
        <h4 class="mb-4 text-xl font-bold text-primary">
          International Certifications
        </h4>
        <p class="mb-4 text-grayPar">Specialized programs in key areas:</p>
        <ul class="mb-6">
          <li class="flex items-center gap-3">
            <svg
              aria-hidden="true"
              class="e-font-icon-svg e-fas-dot-circle h-4 w-fit"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
              fill="red"
            >
              <path
                d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm80 248c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80z"
              ></path>
            </svg>
            <span class="text-grayPar"> Accouting </span>
          </li>
          <li class="flex items-center gap-3">
            <svg
              aria-hidden="true"
              class="e-font-icon-svg e-fas-dot-circle h-4 w-fit"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
              fill="red"
            >
              <path
                d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm80 248c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80z"
              ></path>
            </svg>
            <span class="text-grayPar"> Finance </span>
          </li>
          <li class="flex items-center gap-3">
            <svg
              aria-hidden="true"
              class="e-font-icon-svg e-fas-dot-circle h-4 w-fit"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
              fill="red"
            >
              <path
                d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm80 248c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80z"
              ></path>
            </svg>
            <span class="text-grayPar"> Financial Management </span>
          </li>
          <li class="flex items-center gap-3">
            <svg
              aria-hidden="true"
              class="e-font-icon-svg e-fas-dot-circle h-4 w-fit"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
              fill="red"
            >
              <path
                d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm80 248c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80z"
              ></path>
            </svg>
            <span class="text-grayPar"> Audit </span>
          </li>
          <li class="flex items-center gap-3">
            <svg
              aria-hidden="true"
              class="e-font-icon-svg e-fas-dot-circle h-4 w-fit"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
              fill="red"
            >
              <path
                d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm80 248c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80z"
              ></path>
            </svg>
            <span class="text-grayPar"> Taxation </span>
          </li>
        </ul>
        <a
          href="https://atcprotraining.com/atc-pro-training-course-registration-form/"
          target="_blank"
          class="w-fit rounded-lg bg-primary px-6 py-4 text-white"
          >Apply Now
        </a>
      </div>

      <div class="p-4 md:w-1/2">
        <img
          src="pro_education.webp"
          alt="pro_education"
          class="h-full w-full object-cover object-center lg:w-auto"
        />
      </div>
    </section>
    <section
      class="mx-auto flex max-w-screen-xl flex-col-reverse py-10 md:flex-row"
    >
      <div class="p-4 md:w-1/2 md:py-8">
        <div class="mb-6">
          <h3 class="mb-2 text-2xl font-bold text-primary">
            1. Certified Management Accountant (CMA):
          </h3>
          <p class="text-grayPar">
            Gain a globally recognized certification that equips you with the
            expertise needed to manage finance functions and strategic
            management.
          </p>
        </div>
        <div class="mb-6">
          <h3 class="mb-2 text-2xl font-bold text-primary">
            2. Diploma in International Financial Reporting (DipIFR):
          </h3>
          <p class="text-grayPar">
            Enhance your knowledge of international financial reporting
            standards (IFRS) and improve your career prospects in the accounting
            and finance industry.
          </p>
        </div>
        <div class="mb-6">
          <h3 class="mb-2 text-2xl font-bold text-primary">
            3. Advanced Diploma in International Taxation (ADIT):
          </h3>
          <p class="text-grayPar">
            Specialize in international taxation with a focus on key areas such
            as transfer pricing, VAT, and double tax treaties.
          </p>
        </div>
        <div class="mb-6">
          <h3 class="mb-2 text-2xl font-bold text-primary">
            4. Financial Modeling and Analyst Association (FMAA):
          </h3>
          <p class="text-grayPar">
            This prestigious certification is designed for professionals seeking
            to deepen their expertise and enhance their credentials. The FMAA
            Certificate covers key areas such as financial analysis, risk
            management, and strategic planning, equipping you with the skills
            needed to excel in the industry.
          </p>
        </div>
      </div>
      <div class="p-4 md:w-1/2">
        <img
          src="courses.webp"
          alt="cources"
          class="h-full w-full object-cover object-center lg:w-auto"
        />
      </div>
    </section>
  </section>

  <section class="mx-auto my-12 flex max-w-screen-xl flex-col md:flex-row">
    <div class="p-4 md:w-1/2">
      <img
        src="future_offerings.jpg"
        alt="future_offerings"
        class="h-full w-full object-cover object-center lg:w-auto"
      />
    </div>
    <div class="my-auto flex flex-1 flex-col gap-5 p-4 md:w-1/2 md:pl-10">
      <h3 class="text-3xl font-bold text-primary">Future Offerings</h3>
      <div class="">
        <ul class="mb-6">
          <li class="flex items-center gap-3">
            <svg
              aria-hidden="true"
              class="e-font-icon-svg e-fas-dot-circle h-4 w-fit"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
              fill="red"
            >
              <path
                d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm80 248c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80z"
              ></path>
            </svg>
            <span class="text-grayPar">
              CPA (Certified Public Accountant)
            </span>
          </li>
          <li class="flex items-center gap-3">
            <svg
              aria-hidden="true"
              class="e-font-icon-svg e-fas-dot-circle h-4 w-fit"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
              fill="red"
            >
              <path
                d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm80 248c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80z"
              ></path>
            </svg>
            <span class="text-grayPar">
              ACCA (Association of Chartered Certified Accountants)
            </span>
          </li>
          <li class="flex items-center gap-3">
            <svg
              aria-hidden="true"
              class="e-font-icon-svg e-fas-dot-circle h-4 w-fit"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
              fill="red"
            >
              <path
                d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm80 248c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80z"
              ></path>
            </svg>
            <span class="text-grayPar"> CIA (Certified Internal Auditor) </span>
          </li>
          <li class="flex items-center gap-3">
            <svg
              aria-hidden="true"
              class="e-font-icon-svg e-fas-dot-circle h-4 w-fit"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
              fill="red"
            >
              <path
                d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm80 248c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80z"
              ></path>
            </svg>
            <span class="text-grayPar">
              FMVA (Financial Modeling and Valuation Analyst)
            </span>
          </li>
          <li class="flex items-center gap-3">
            <svg
              aria-hidden="true"
              class="e-font-icon-svg e-fas-dot-circle h-4 w-fit"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
              fill="red"
            >
              <path
                d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm80 248c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80z"
              ></path>
            </svg>
            <span class="text-grayPar">
              CSCA (Certified in Strategy and Competitive Analysis)
            </span>
          </li>
          <li class="flex items-center gap-3">
            <svg
              aria-hidden="true"
              class="e-font-icon-svg e-fas-dot-circle h-4 w-fit"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
              fill="red"
            >
              <path
                d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm80 248c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80z"
              ></path>
            </svg>
            <span class="text-grayPar">
              CIPA (Certified Islamic Professional Accountant)
            </span>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="mb-12 bg-primary py-14 text-white">
    <div class="p-4">
      <h2 class="mb-8 text-center text-4xl font-bold">
        Why Choose ATC Pro Online Training?
      </h2>
      <div
        class="mx-auto grid max-w-screen-lg grid-cols-1 gap-4 md:mb-8 md:grid-cols-3"
      >
        <div class="p-3 text-center">
          <i class="fa-regular fa-square-check fa-2xl mb-6"></i>
          <p class="mb-2 text-2xl">Expert Instructors</p>
          <p class="text-sm">
            Our courses are led by industry experts with extensive experience
            and knowledge, ensuring you receive the highest quality education.
          </p>
        </div>
        <div class="p-3 text-center">
          <i class="fa-regular fa-square-check fa-2xl mb-6"></i>
          <p class="mb-2 text-2xl">Online Learning</p>
          <p class="text-sm">
            We offer online training to accommodate your schedule and learning
            preferences.
          </p>
        </div>
        <div class="p-3 text-center">
          <i class="fa-regular fa-square-check fa-2xl mb-6"></i>
          <p class="mb-2 text-2xl">Comprehensive Curriculum</p>
          <p class="text-sm">
            Our courses are meticulously designed to cover all essential topics
            and provide practical insights, preparing you for real-world
            challenges.
          </p>
        </div>
      </div>
      <div
        class="mx-auto grid max-w-screen-lg grid-cols-1 gap-4 md:grid-cols-2"
      >
        <div class="p-3 text-center">
          <i class="fa-regular fa-square-check fa-2xl mb-6"></i>
          <p class="mb-2 text-2xl">Certification and Recognition</p>
          <p class="text-sm">
            Upon successful completion of our courses, you will receive
            certificates that are recognized globally, enhancing your
            professional credibility.
          </p>
        </div>
        <div class="p-3 text-center">
          <i class="fa-regular fa-square-check fa-2xl mb-6"></i>
          <p class="mb-2 text-2xl">Latest education technology</p>
          <p class="text-sm">
            Our cutting-edge educational technology provides an immersive
            learning experience. The advanced tools and platforms we have ensure
            that our learning process is engaging and effective, preparing our
            trainees with the skills needed for success.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="my-10">
    <div class="mx-auto flex max-w-screen-xl flex-col md:flex-row">
      <div class="my-auto flex flex-1 flex-col gap-5 p-4 md:w-1/2 md:pl-10">
        <h3 class="text-3xl font-bold text-primary">Training Programs</h3>
        <div class="mb-6 pl-4">
          <h4 class="mb-2 text-xl font-bold text-primary">Current Courses</h4>
          <ul class="">
            <li class="flex items-center gap-3">
              <svg
                aria-hidden="true"
                class="e-font-icon-svg e-fas-dot-circle h-4 w-fit"
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
                fill="red"
              >
                <path
                  d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm80 248c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80z"
                ></path>
              </svg>
              <span class="text-grayPar"> Cost Management </span>
            </li>
            <li class="flex items-center gap-3">
              <svg
                aria-hidden="true"
                class="e-font-icon-svg e-fas-dot-circle h-4 w-fit"
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
                fill="red"
              >
                <path
                  d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm80 248c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80z"
                ></path>
              </svg>
              <span class="text-grayPar"> Financial Controls </span>
            </li>
            <li class="flex items-center gap-3">
              <svg
                aria-hidden="true"
                class="e-font-icon-svg e-fas-dot-circle h-4 w-fit"
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
                fill="red"
              >
                <path
                  d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm80 248c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80z"
                ></path>
              </svg>
              <span class="text-grayPar">
                CTPro (Corporate Training Professional)
              </span>
            </li>
            <li class="flex items-center gap-3">
              <svg
                aria-hidden="true"
                class="e-font-icon-svg e-fas-dot-circle h-4 w-fit"
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
                fill="red"
              >
                <path
                  d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm80 248c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80z"
                ></path>
              </svg>
              <span class="text-grayPar">
                EAS (Effective Accounting Systems)
              </span>
            </li>
          </ul>
        </div>
        <div class="pl-4">
          <h4 class="mb-2 text-xl font-bold text-primary">Future Courses</h4>
          <ul class="mb-6">
            <li class="flex items-center gap-3">
              <svg
                aria-hidden="true"
                class="e-font-icon-svg e-fas-dot-circle h-4 w-fit"
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
                fill="red"
              >
                <path
                  d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm80 248c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80z"
                ></path>
              </svg>
              <span class="text-grayPar"> Planning and Budgeting </span>
            </li>
            <li class="flex items-center gap-3">
              <svg
                aria-hidden="true"
                class="e-font-icon-svg e-fas-dot-circle h-4 w-fit"
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
                fill="red"
              >
                <path
                  d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm80 248c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80z"
                ></path>
              </svg>
              <span class="text-grayPar"> Risk Management </span>
            </li>
            <li class="flex items-center gap-3">
              <svg
                aria-hidden="true"
                class="e-font-icon-svg e-fas-dot-circle h-4 w-fit"
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
                fill="red"
              >
                <path
                  d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm80 248c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80z"
                ></path>
              </svg>
              <span class="text-grayPar"> Audit Techniques </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="p-4 md:w-1/2">
        <img
          src="training_programs.jpg"
          alt="training_programs"
          class="h-full w-full object-cover object-center lg:w-auto"
        />
      </div>
    </div>
    <div class="mx-auto max-w-screen-lg p-4 text-center">
      <p>
        Our programs are tailored to help you achieve international
        certifications and advance your career, whether you are looking to
        deepen your expertise in your current field or expand into new areas. At
        ATC Pro Online Training, we are here to support your journey to
        professional excellence.
      </p>
    </div>
  </section>

  <section id="success_stories" class="bg-grayBg py-16">
    <div class="mx-auto max-w-screen-lg">
      <div class="mx-auto mb-8 max-w-screen-md p-4 text-center">
        <h2 class="mb-4 text-4xl">Success Stories</h2>
        <p class="px-12 text-grayPar md:px-24">
          Hear from our alumni who have benefited from our training programs:
        </p>
      </div>

      <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
        <div class="m-4 bg-white p-8 shadow-2xl">
          <p class="mb-8 text-grayPar">
            ATC Pro Training provided me with the skills and confidence I needed
            to excel in my career. The instructors were knowledgeable and the
            course content was comprehensive.
          </p>
          <div class="flex flex-row items-center gap-4">
            <img
              src="sara.png"
              alt="Sara"
              class="h-24 w-24 rounded-full object-cover"
            />
            <div class="font-bold">
              <p class="text-xl">Sarah</p>
              <p class="text-sm">CMA Graduate</p>
            </div>
          </div>
        </div>
        <div class="m-4 bg-white p-8 shadow-2xl">
          <p class="mb-8 text-grayPar">
            ATC Pro Training provided me with the skills and confidence I needed
            to excel in my career. The instructors were knowledgeable and the
            course content was comprehensive.
          </p>
          <div class="flex flex-row items-center gap-4">
            <img
              src="mohamed.jpg"
              alt="Mohamed"
              class="h-24 w-24 rounded-full object-cover"
            />
            <div class="font-bold">
              <p class="text-xl">Mohamed</p>
              <p class="text-sm">CMA Graduate</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="my-10">
    <div
      class="mx-auto mb-10 flex max-w-screen-xl flex-col-reverse md:flex-row"
    >
      <div
        class="my-auto flex flex-col items-center gap-6 p-4 md:w-1/2 md:items-start"
      >
        <h3 class="text-4xl font-bold">HOW TO ENROLL</h3>
        <p class="mb-4 text-grayPar">
          Enrolling in our training programs is easy. Simply visit our
          enrollment page or contact our training coordinator at
          training&#64;atc.com.eg or call us at (15673) for more information.
        </p>
        <div>
          <a
            href="https://atcprotraining.com/atc-pro-training-course-registration-form/"
            target="_blank"
            class="rounded-lg bg-primary px-6 py-4 text-white"
            >Apply Now</a
          >
        </div>
      </div>
      <div class="p-4 md:w-1/2">
        <img
          src="how_to_enroll.jpeg"
          alt="how_to_enroll"
          class="h-full w-full object-cover"
        />
      </div>
    </div>
  </section>

  <section
    class="relative flex h-fit items-center justify-center bg-black text-center md:h-[430px]"
  >
    <div class="absolute inset-0">
      <img
        src="contact_pro_training.jpg"
        alt="contact_us"
        class="h-full w-full object-cover"
      />
      <div class="absolute inset-0 bg-black opacity-80"></div>
    </div>
    <div class="relative z-10 mx-auto max-w-screen-xl px-4 py-10 text-white">
      <p class="mb-5 text-2xl font-bold lg:text-3xl">Contact us</p>
      <p class="mb-8 lg:text-xl">
        For any inquiries or additional information about our training programs,
        please reach out to us at:
      </p>
      <div class="mb-6 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
        <div class="p-3 text-center">
          <i class="fa-solid fa-envelope mb-4 text-4xl text-white"></i>
          <p class="mb-4 text-xl">Email</p>
          <p class="text-sm">info&#64;atcprotraining.com</p>
        </div>
        <div class="p-3 text-center">
          <i class="fa-solid fa-phone-volume mb-4 text-4xl text-white"></i>
          <p class="mb-4 text-xl">Phone:</p>
          <p class="text-sm">(+20) 120 155 5383</p>
        </div>
        <!-- <div class="p-3 text-center">
          <i class="fa-solid fa-location-dot mb-4 text-4xl text-white"></i>
          <p class="mb-4 text-xl">Address</p>
          <p class="text-sm">
            48 Giza St., 5th Floor, Appt No. 52, FI - Orman Tower Giza,Giza GE
          </p>
        </div> -->
        <div class="p-3 text-center">
          <i class="fa-solid fa-square-check mb-4 text-4xl text-white"></i>
          <p class="mb-4 text-xl">Follow us</p>
          <div class="flex items-center justify-center gap-4">
            <a
              href="https://www.facebook.com/ATCProTraining"
              target="_blank"
              class="hover:text-primary"
            >
              <i class="fa-brands fa-facebook-square text-xl"></i>
            </a>
            <a
              href="https://www.linkedin.com/company/atcprotraining"
              target="_blank"
              class="hover:text-primary"
            >
              <i class="fa-brands fa-linkedin text-xl"></i>
            </a>
            <a
              href="https://www.instagram.com/atcprotraining"
              target="_blank"
              class="hover:text-primary"
            >
              <i class="fa-brands fa-instagram text-xl"></i>
            </a>
          </div>
        </div>
      </div>
      <p>
        Join ATC Pro Online Training today and take the next step in advancing
        your professional career!
      </p>
    </div>
  </section>
</main>
<app-footer></app-footer>
