<app-nav></app-nav>
<main class="mt-20 p-4 lg:ml-64">
  @if (isLoading) {
    <div class="h-[80vh] w-full">
      <app-loading-spinner></app-loading-spinner>
    </div>
  }
  @if (!isLoading) {
    <div class="flex justify-end">
      <a
        routerLink="/dashboard/add-new-post"
        class="mb-2 me-2 rounded-lg bg-gradient-to-r from-green-400 via-green-500 to-green-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-gradient-to-br focus:outline-none focus:ring-4 focus:ring-green-300"
        >NEW Post</a
      >
    </div>
    <app-table [tableData]="blogs" (postDeleted)="onPostDeleted()"></app-table>
  }
</main>
