<app-nav></app-nav>

<main class="min-h-[870px] flex-1 bg-gray-100 p-6">
  <section class="mt-16 md:p-5 lg:ml-64">
    <div class="mx-auto max-w-screen-lg rounded-lg bg-white p-8 shadow-lg">
      <!-- add new post form -->
      <h2 class="mb-6 text-2xl font-bold">Add New Post</h2>

      <form (ngSubmit)="onAddNewPost(newpostForm)" #newpostForm="ngForm">
        <!-- Title Input -->
        <div class="mb-4">
          <label class="mb-2 block text-sm font-bold text-gray-700" for="title">
            Title
          </label>
          <input
            type="text"
            id="title"
            class="w-full rounded-md border border-gray-300 bg-gray-50 px-3 py-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Enter post title"
            required
            name="title"
            ngModel
            [(ngModel)]="titleInput"
            [ngClass]="{
              'text-right': isArabic(titleInput),
              'text-left': !isArabic(titleInput),
            }"
            #title="ngModel"
          />
          @if (title.touched && title.invalid) {
            <small class="m-0 p-0 text-primary">Field is required</small>
          }
        </div>

        <!-- Category Input -->
        <div class="mb-4">
          <label
            class="mb-2 block text-sm font-bold text-gray-700"
            for="category"
          >
            Category
          </label>
          <select
            id="category"
            class="block w-full rounded-md border border-gray-300 bg-gray-50 px-3 py-2 shadow-sm focus:border-blue-500 focus:ring-blue-500"
            name="category"
            ngModel
            required
            #category="ngModel"
          >
            <option selected disabled value="">Choose a category</option>
            <option value="1">ATC KSA</option>
            <option value="2">ATC Group Article</option>
            <option value="3">ATC Group News</option>
          </select>
          @if (category.touched && category.invalid) {
            <small class="m-0 p-0 text-primary">Field is required</small>
          }
        </div>

        <!-- Description Input -->
        <div class="mb-4">
          <label
            class="mb-2 block text-sm font-bold text-gray-700"
            for="description"
          >
            Description
          </label>
          <textarea
            id="description"
            rows="15"
            class="w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Enter post description"
            required
            ngModel
            [(ngModel)]="descInput"
            [ngClass]="{
              'text-right': isArabic(descInput),
              'text-left': !isArabic(descInput),
            }"
            #description="ngModel"
            name="description"
          ></textarea>
          @if (description.touched && description.invalid) {
            <small class="m-0 p-0 text-primary">Field is required</small>
          }
        </div>

        <!-- Image Input -->
        <div class="mb-6">
          <label class="mb-2 block text-sm font-bold text-gray-700" for="image">
            Upload Main Image
          </label>
          <input
            type="file"
            id="image"
            class="w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
            accept="image/*"
            required
            ngModel
            #image="ngModel"
            name="image"
            (change)="onFileSelected($event)"
          />
          @if (image.touched && image.invalid) {
            <small class="m-0 p-0 text-primary">Field is required</small>
          }
        </div>

        <div class="mb-6">
          <label
            class="mb-2 block text-sm font-bold text-gray-700"
            for="gallery_images"
          >
            Upload Gallery Images
          </label>
          <input
            type="file"
            id="gallery_images"
            class="w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
            accept="image/*"
            multiple
            ngModel
            #gallery_image="ngModel"
            name="gallery_images"
            (change)="onGalleryImagesSelected($event)"
          />
        </div>

        <!-- Submit Button -->
        <div>
          <button
            type="submit"
            class="w-full rounded-md bg-gradient-to-r from-green-400 via-green-500 to-green-600 px-4 py-2 text-center text-white hover:bg-gradient-to-br focus:outline-none focus:ring-4 focus:ring-green-300 dark:focus:ring-green-800"
          >
            @if (!isLoading) {
              Add Post
            }
            @if (isLoading) {
              <svg
                aria-hidden="true"
                role="status"
                class="me-3 inline h-4 w-4 animate-spin text-white"
                viewBox="0 0 100 101"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                  fill="#E5E7EB"
                />
                <path
                  d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="currentColor"
                />
              </svg>
            }
          </button>
        </div>
      </form>
    </div>
  </section>
</main>
