<app-header></app-header>
<main class="pt-40 font-sans">
  <section
    id="services_cover"
    class="relative flex h-80 items-center justify-center bg-black text-center lg:h-[450px]"
  >
    <div class="absolute inset-0">
      <img
        src="services_bg.jpg"
        alt="services_cover"
        class="h-full w-full object-cover"
      />
      <div class="absolute inset-0 bg-black opacity-50"></div>
    </div>
    <div class="relative z-10 px-6 text-white">
      <p class="mb-5 text-3xl font-bold lg:text-5xl">Services</p>
    </div>
  </section>

  <section class="my-10 lg:my-16">
    <div class="mx-auto max-w-screen-2xl">
      <div class="mx-auto max-w-[600px] p-4 text-center">
        <p class="mb-4 text-xl font-bold text-primary">OUR SERVICES</p>
        <p class="mb-8 text-3xl font-bold">What We Provide</p>
        <hr class="mx-auto mb-6 h-1.5 w-1/3 bg-primary" />
        <p class="text-xl leading-9 text-grayPar">
          ATC Provides world-class integrated financial services in Egypt and
          the Middle East.ATC Specialized in providing world-class tax services.
        </p>
      </div>
    </div>
  </section>

  <section id="all_services" class="mb-16">
    <div class="mx-auto max-w-screen-2xl">
      <div
        class="mx-auto grid max-w-screen-xl grid-cols-1 gap-10 p-4 md:grid-cols-2 lg:grid-cols-3 lg:p-0"
      >
        <div
          class="flex flex-col items-center border-b-8 border-black bg-white-gray-gradient p-4 pb-12 text-center"
        >
          <img
            src="zakat_service.png"
            alt="Zakat_service"
            class="mb-8 w-full"
          />
          <h2 class="mb-4 min-h-16 text-center text-2xl">Tax Services</h2>
          <p class="mb-8 flex-1 text-center text-lg text-grayPar">
            Our tax department provides integrated and innovative tax solutions,
            helping firms navigate through complex tax challenges.
          </p>
          <a
            routerLink="/services"
            class="w-fit border-b-2 border-primary text-center text-primary"
          >
            LEARN MORE
          </a>
        </div>
        <div
          class="flex flex-col items-center border-b-8 border-black bg-white-gray-gradient p-4 pb-12 text-center"
        >
          <img
            src="zakat_service.png"
            alt="Zakat_service"
            class="mb-8 w-full"
          />
          <h2 class="mb-4 min-h-16 text-center text-2xl">Zakat & Income</h2>
          <p class="mb-8 flex-1 text-center text-lg text-grayPar">
            Our accounting and audit department provides high quality service
            using the technical expertise and audit insight of our highly
            qualified chartered accountants.
          </p>
          <a
            routerLink="/services"
            class="w-fit border-b-2 border-primary text-center text-primary"
          >
            LEARN MORE
          </a>
        </div>
        <div
          class="flex flex-col items-center border-b-8 border-black bg-white-gray-gradient p-4 pb-12 text-center"
        >
          <img
            src="zakat_service.png"
            alt="Zakat_service"
            class="mb-8 w-full"
          />
          <h2 class="mb-4 min-h-16 text-center text-2xl">Bookkeeping</h2>
          <p class="mb-8 flex-1 text-center text-lg text-grayPar">
            Our bookkeeping department provides specialized service for clients
            preferring to outsource their bookkeeping activities.
          </p>
          <a
            routerLink="/services"
            class="w-fit border-b-2 border-primary text-center text-primary"
          >
            LEARN MORE
          </a>
        </div>
        <div
          class="flex flex-col items-center border-b-8 border-black bg-white-gray-gradient p-4 pb-12 text-center"
        >
          <img
            src="zakat_service.png"
            alt="Zakat_service"
            class="mb-8 w-full"
          />
          <h2 class="mb-4 min-h-16 text-center text-2xl">
            External & Internal Audit
          </h2>
          <p class="mb-8 flex-1 text-center text-lg text-grayPar">
            Our accounting and audit department provides high quality service
            using the technical expertise and audit insight of our highly
            qualified chartered accountants.
          </p>
          <a
            routerLink="/services"
            class="w-fit border-b-2 border-primary text-center text-primary"
          >
            LEARN MORE
          </a>
        </div>
        <div
          class="flex flex-col items-center border-b-8 border-black bg-white-gray-gradient p-4 pb-12 text-center"
        >
          <img
            src="zakat_service.png"
            alt="Zakat_service"
            class="mb-8 w-full"
          />
          <h2 class="mb-4 min-h-16 text-center text-2xl">
            Investment & Companies Incorporation
          </h2>
          <p class="mb-8 flex-1 text-center text-lg text-grayPar">
            Our investment department helps in the establishment of all kinds of
            companies like join stock, partnership and Individual firms. We also
            help in opening branches and representative offices in Egypt.
          </p>
          <a
            routerLink="/services"
            class="w-fit border-b-2 border-primary text-center text-primary"
          >
            LEARN MORE
          </a>
        </div>
        <div
          class="flex flex-col items-center border-b-8 border-black bg-white-gray-gradient p-4 pb-12 text-center"
        >
          <img
            src="zakat_service.png"
            alt="Zakat_service"
            class="mb-8 w-full"
          />
          <h2 class="mb-4 min-h-16 text-center text-2xl">Online Training</h2>
          <p class="mb-8 flex-1 text-center text-lg text-grayPar">
            ATC provides professional tax and accounting training courses, in an
            effort to develop employee skill sets and expand on their abilities.
          </p>
          <a
            routerLink="/services"
            class="w-fit border-b-2 border-primary text-center text-primary"
          >
            LEARN MORE
          </a>
        </div>
        <!-- <div
          class="group relative flex flex-col justify-between gap-5 overflow-hidden border-[1px] border-black p-12"
        >
          <div
            class="absolute inset-0 h-0 w-full bg-black transition-all duration-500 ease-out group-hover:h-full"
          ></div>

          <h3
            class="relative z-10 mb-8 text-3xl font-bold transition-colors duration-300 ease-in-out group-hover:text-white"
          >
            Tax Service
          </h3>

          <p
            class="relative z-10 text-xl transition-colors duration-300 ease-in-out group-hover:text-white"
          >
            Our tax department provides integrated and innovative tax solutions,
            helping firms navigate through complex tax challenges.
          </p>

          <a
            routerLink="/insights"
            class="relative z-10 w-fit border-b-2 border-primary text-center text-primary transition-colors duration-300 ease-in-out group-hover:text-white"
          >
            LEARN MORE
          </a>
        </div> -->
      </div>
    </div>
  </section>
  <section class="my-16"></section>
  <section
    id="proposal"
    class="relative flex h-80 items-center justify-center bg-black lg:h-[500px]"
  >
    <div class="absolute inset-0">
      <img
        src="hire_bg.jpg"
        alt="Proposal Background"
        class="h-full w-full object-cover"
      />
      <div class="absolute inset-0 bg-black opacity-50"></div>
    </div>
    <div class="relative z-10 mx-auto max-w-screen-xl px-6 text-white">
      <p class="mb-5 text-3xl font-bold lg:text-5xl">Hire the Professionals</p>
      <p class="mb-8 lg:text-xl">
        ATC provides integrated and innovative tax solutions. Our tax services
        department is divided into specialized teams of tax experts, with each
        team specializing in a specific kind of tax.
      </p>
      <a
        routerLink="/contact-us"
        class="inline-block bg-primary px-8 py-3 text-lg font-bold text-white"
      >
        Schedule a Meeting
      </a>
    </div>
  </section>
</main>
<app-footer></app-footer>
