<app-header></app-header>
<main class="pt-40">
  <section
    id="services_cover"
    class="relative flex h-80 items-center justify-center bg-black text-center lg:h-[450px]"
  >
    <div class="absolute inset-0">
      <img
        src="services_bg.jpg"
        alt="services_cover"
        class="h-full w-full object-cover"
      />
      <div class="absolute inset-0 bg-black opacity-50"></div>
    </div>
    <div class="relative z-10 px-6 text-white">
      <p class="mb-5 text-3xl font-bold lg:text-5xl">Services</p>
    </div>
  </section>

  <section class="my-10 lg:my-16" id="our_services">
    <div class="mx-auto max-w-screen-2xl">
      <div class="mx-auto max-w-[620px] p-4 text-center">
        <p class="mb-4 text-xl font-bold text-primary">OUR SERVICES</p>
        <p class="mb-8 text-3xl font-bold">What We Provide</p>
        <hr class="mx-auto mb-6 h-1.5 w-1/3 bg-primary" />
        <p class="text-xl leading-9 text-grayPar">
          ATC Provides world-class integrated financial services in Saudi
          Arabia. ATC Specialized in providing world-class Taxation, Zakat,
          Auditing and Consultation services.
        </p>
      </div>
    </div>
  </section>

  <app-tabs-container id="services_Container">
    <app-tab tabTitle="Zakat and Tax Services" [isActive]="true">
      <section
        class="relative flex h-80 items-center justify-center bg-black lg:h-[500px]"
      >
        <div class="absolute inset-0">
          <img
            src="tax_services.jpg"
            alt="tax services"
            class="h-full w-full object-cover"
          />
          <div class="absolute inset-0 bg-black opacity-50"></div>
        </div>
        <div
          class="relative z-10 mx-auto max-w-[700px] px-6 text-center text-white"
        >
          <p class="mb-5 text-3xl font-bold lg:text-5xl">
            Zakat and Tax services
          </p>
          <p class="mb-8 lg:text-xl">
            ATC offers top quality Zakat and Tax services tailored to optimize
            your business's financial well-being.
          </p>
        </div>
      </section>

      <section class="mb-16">
        <div class="mx-auto flex max-w-screen-xl flex-col md:flex-row">
          <div class="m-4 p-5 md:w-3/4 md:p-10">
            <h2 class="mb-6 text-2xl font-bold">Overview</h2>
            <p class="mb-8">
              We offer comprehensive zakat and tax services in compliance with
              Saudi Arabian regulations. Our services include auditing and
              submitting returns, handling tax and zakat inspections, managing
              appeals, assisting with refund claims, and providing expert
              consultations to ensure compliance and maximize tax advantages for
              our clients.
            </p>

            <div class="mb-8">
              <h3 class="mb-4 text-2xl font-bold">
                1. Auditing and submitting zakat and tax returns
              </h3>

              <ul class="list-disc space-y-3 pl-5">
                <li>
                  We audit zakat and tax returns to determine its compliance
                  with the applicable systems requirements in the Kingdom of
                  Saudi Arabia for each tax and zakat period before submitting
                  the zakat and tax returns to ZATCA through auditing a sample
                  of the documents, financial data, accounts, trial balance and
                  financial statements provided by the client for giving any
                  comments or observation on them.
                </li>
                <li>
                  We provide the client with our most significant observations
                  and recommendations before submitting zakat and tax returns to
                  ZATCA to take the corrective procedures (if any).
                </li>
                <li>
                  We provide the technical support services pertaining to
                  uploading the zakat and tax return on the ZATCA e-system
                  portal.
                </li>
                <li>
                  We provide the client with any updates on the zakat and tax
                  e-system and instructions or guidelines issued by the ZATCA.
                </li>
                <li>
                  We provide all consultation services via remote communication
                  programs or at the client's premises.
                </li>
              </ul>
            </div>

            <div class="mb-8">
              <h3 class="mb-4 text-2xl font-bold">2. Tax & zakat inspection</h3>

              <ul class="list-disc space-y-3 pl-5">
                <li>
                  When ZATCA requires the inspection of zakat or tax return, our
                  team studies the request, reviews the analyses, data,
                  documents and accounts required for the inspection for giving
                  advisory opinion on it before submitting it to ZATCA.
                </li>
                <li>
                  We provide technical support for uploading the inspection
                  requirements on ZATCA e-system portal.
                </li>
                <li>
                  We follow-up the inspection, respond to the Authority's
                  inquiries, attend the sessions held by the inspection
                  committee till finalizing the inspection procedures and
                  issuing the final evaluation notices.
                </li>
                <li>
                  We provide our recommendations to the client in light of the
                  work performed during the inspection by ZATCA in order to take
                  the adequate procedures and perform certain amendments that
                  will positively affect the subsequent inspections.
                </li>
              </ul>
            </div>
            <div class="mb-8">
              <h3 class="mb-4 text-2xl font-bold">3. Appeals</h3>

              <ul class="list-disc space-y-3 pl-5">
                <li>
                  When the client requests to appeal on ZATCA assessments, in
                  case the result of the inspection performed by ZATCA revealed
                  due amounts on the client as inspection differences according
                  to the submitted documents and data, our team verifies the
                  client's eligibility to appeal and gives the advisory opinion,
                  during the appeal period at ZATCA.
                </li>
                <li>
                  We Provide the technical and advisory support in preparing the
                  appeal memo on the amounts that the client desires to appeal
                  on, attached with the financial documents and data after being
                  audited by our team in order to submit the appeal to ZATCA.
                </li>
                <li>
                  We provide the technical support services to submit the appeal
                  to ZATCA.
                </li>
                <li>
                  In case the appeal inspection by ZATCA was wholly or partially
                  rejected, we provide the technical support to upload the
                  appeal requirements through the e-system portal of the General
                  Secretariat of Zakat, Tax and Customs Committees and follow-up
                  on the appeal procedures and respond to all inquiries and
                  attend hearings with the client's legal representative in
                  accordance with the applicable regulations.
                </li>
              </ul>
            </div>
            <div class="mb-8">
              <h3 class="mb-4 text-2xl font-bold">
                4. Due zakat and tax amounts refund to the client from ZATCA
              </h3>

              <ul class="list-disc space-y-3 pl-5">
                <li>
                  We review a sample of the documents and financial data
                  supporting the amounts due to the client at ZATCA in order to
                  verify the validity of the client's eligibility in such due
                  amounts before taking any procedures with ZATCA.
                </li>
                <li>
                  We provide the full technical support in uploading the refund
                  request on the e-system portal of ZATCA for the client to have
                  his due amounts refunded from ZATCA.
                </li>
                <li>
                  We respond to all inquiries and requirements of ZATCA and
                  attend the discussion sessions within the scope of the refund
                  request submitted to ZATCA.
                </li>
                <li>
                  We follow-up the refund process with ZATCA till finalizing the
                  procedures and issuing the approval on refunding the due
                  amounts to the client.
                </li>
              </ul>
            </div>
            <div class="mb-8">
              <h3 class="mb-4 text-2xl font-bold">
                5. Tax and zakat consultations
              </h3>

              <ul class="list-disc space-y-3 pl-5">
                <li class="">
                  We provide the advisory opinion in light of the discussions
                  with the client and studying the documents and financial data
                  that are submitted and presented by the client and give the
                  advisory opinion in accordance with the applicable regulations
                  in the Kingdom of Saudi Arabia as follows:
                </li>
                <ul class="list-item space-y-2">
                  <li>
                    <span class="font-bold">-</span> Zakat levy regulations.
                  </li>
                  <li>
                    <span class="font-bold">-</span> Income tax system and its
                    executive regulations.
                  </li>
                  <li>
                    <span class="font-bold">-</span> Value added tax system and
                    its executive regulations.
                  </li>
                  <li>
                    <span class="font-bold">-</span> Withholding tax provisions
                    - income tax system and its executive regulations.
                  </li>
                  <li>
                    <span class="font-bold">-</span> Real estate tax system
                    transactions and its executive regulations.
                  </li>
                  <li>
                    <span class="font-bold">-</span> Excise goods tax system.
                  </li>
                </ul>
                <li>
                  We provide the full technical support in uploading the refund
                  request on the e-system portal of ZATCA for the client to have
                  his due amounts refunded from ZATCA.
                </li>
                <li>
                  We respond to all inquiries and requirements of ZATCA and
                  attend the discussion sessions within the scope of the refund
                  request submitted to ZATCA.
                </li>
                <li>
                  We follow-up the refund process with ZATCA till finalizing the
                  procedures and issuing the approval on refunding the due
                  amounts to the client.
                </li>
              </ul>
            </div>
          </div>
          <div class="p-5 md:w-1/4 md:p-10">
            <div class="mb-8">
              <h2 class="mb-6 text-3xl font-bold">Further Details</h2>
              <hr class="h-1 w-2/5 bg-primary md:mx-0" />
            </div>

            <!-- <button
              class="rounded-lg bg-primary px-6 py-6 text-white"
              type="button"
            >
              Download Brochure
            </button> -->
          </div>
        </div>
      </section>
    </app-tab>
    <app-tab tabTitle="Auditing">
      <section
        class="relative flex h-80 items-center justify-center bg-black lg:h-[500px]"
      >
        <div class="absolute inset-0">
          <img
            src="audit_bg.png"
            alt="audit"
            class="h-full w-full object-cover"
          />
          <div class="absolute inset-0 bg-black opacity-50"></div>
        </div>
        <div
          class="relative z-10 mx-auto max-w-[700px] px-6 text-center text-white"
        >
          <p class="mb-5 text-3xl font-bold lg:text-5xl">Auditing Services</p>
          <p class="mb-8 lg:text-xl">
            Our Auditing Services provide insight into the financial health of
            organizations
          </p>
        </div>
      </section>
      <section class="mb-16">
        <div class="mx-auto flex max-w-screen-xl flex-col md:flex-row">
          <div class="m-4 p-5 md:w-3/4 md:p-10">
            <h2 class="mb-4 text-2xl font-bold">Overview</h2>
            <p class="mb-4">
              Our Auditing Services offer comprehensive solutions, including
              audit and internal audit. We ensure compliance with recognized
              accounting principles, assess risks, and provide technical
              support. Our services are designed to enhance financial
              transparency and help clients make informed decisions for
              sustainable growth.
            </p>
            <div class="mb-8">
              <h3 class="mb-4 text-2xl font-bold">1. Audit</h3>

              <ul class="list-disc space-y-3 pl-5">
                <li>
                  In light of the ongoing globalization, the business
                  environment in which the client's entity operates is becoming
                  more sophisticated. This includes the new principles,
                  legislations and cultures. This, in turn, becomes more
                  burdensome to comply with these systems, legislations and
                  principles. Furthermore, the accelerating competition places
                  additional pressure on the client's business to improve its
                  productivity.
                </li>
                <li>
                  The basic aspect of auditing is to verify the correctness and
                  fair presentation of the financial statements and to assure
                  that they are free of material errors.
                </li>
                <li>
                  Our audit approach is to provide reasonable assurance about
                  whether the financial statements preparation comply with the
                  recognized accounting principles and that they are free of
                  material errors in classification, figures, or misstatement.
                </li>
                <li>
                  Risk assessment is a key factor in our approach. We assess and
                  identify the potential risks including their nature, level and
                  calculate their material value (if possible). As we emphasize
                  on the risks, an added value for the client with regard to
                  auditing is realized.
                </li>
              </ul>
            </div>
            <div class="mb-8">
              <h3 class="mb-4 text-2xl font-bold">2. Internal audit</h3>

              <ul class="list-disc space-y-3 pl-5">
                <li>
                  Compliance with the systems is a normal extension to the
                  governance obligations which are the responsibility of the
                  senior managements and boards of the companies. Moreover, the
                  nature of good governance assures that the systems followed
                  are aligned to the various activities of the company in
                  addition to the plans and guidelines of the risk departments.
                  This will be an added value to the company and the potential
                  client. The main objective of rendering this service is to
                  ensure that the essence of applying the systems and adhering
                  to them is given the care it deserves in all aspects and
                  activities of the company. Additionally, we are ready to offer
                  support and assistance in this regard through assessments,
                  adequate field inspections to assess the applied governance
                  level in the company and the current risks as well as the
                  potential losses, as a first step. Subsequently, we provide
                  recommendations to the process and handle any issues that may
                  negatively affect the client.
                </li>
                <li>
                  Internal audit is an essential internal activity to most of
                  the entities of all sizes, as it supports and assists both the
                  management and board members. The internal auditors, nowadays,
                  experience huge responsibilities as well as face important and
                  sensitive issues relevant to their roles in their enterprises
                  and their responsibilities towards others. Owing to our
                  experience in establishing and rendering internal auditing to
                  various companies and authorities, we are delighted to provide
                  our internal audit services as a contractual service to the
                  client with outstanding professional standards locally and
                  internationally.
                </li>
              </ul>
            </div>
            <div class="mb-8">
              <h3 class="mb-4 text-2xl font-bold">3. Ad hoc reports</h3>

              <ul class="list-disc space-y-3 pl-5">
                <li>
                  The agreed-upon procedures assignment may require an auditor
                  to undertake procedures with certain audit procedures for
                  specific items for financial data, financial statement or even
                  a complete set of financial data, agreed upon by the auditor
                  and the client and any adequate third party, and upon
                  preparing financial reports with actual results.
                </li>
                <li>
                  We undertake the agreed-upon procedures in accordance with
                  “ethical standards of professional accountants” issued by the
                  International Federation of Accountants as per the determined
                  agreed upon terms of these assignments.
                </li>
                <li>
                  Our professional team has an extensive experience in preparing
                  ad hoc reports submitted to the competent authorities that
                  require certain procedures to be provided to the competent
                  governmental and non-governmental authorities in order to
                  enhance the credibility in the business sector environment.
                </li>
              </ul>
            </div>
          </div>
          <div class="p-5 md:w-1/4 md:p-10">
            <div class="mb-8">
              <h2 class="mb-6 text-3xl font-bold">Further Details</h2>
              <hr class="h-1 w-2/5 bg-primary" />
            </div>

            <!-- <button
              class="rounded-lg bg-primary px-6 py-6 text-white"
              type="button"
            >
              Download Brochure
            </button> -->
          </div>
        </div>
      </section>
    </app-tab>
    <app-tab tabTitle="Transfer Pricing">
      <section
        class="relative flex h-80 items-center justify-center bg-black lg:h-[500px]"
      >
        <div class="absolute inset-0">
          <img
            src="bookkeeping.jpg"
            alt="Proposal Background"
            class="h-full w-full object-cover"
          />
          <div class="absolute inset-0 bg-black opacity-50"></div>
        </div>
        <div
          class="relative z-10 mx-auto max-w-[700px] px-6 text-center text-white"
        >
          <p class="mb-5 text-3xl font-bold lg:text-5xl">
            Transfer Pricing & Double taxation treaty
          </p>
          <!-- <p class="mb-8 lg:text-xl">
            We offer expert guidance and practical solutions to help you
            navigate complex issues and achieve your business goals.
          </p> -->
        </div>
      </section>

      <section class="mb-16">
        <div class="mx-auto flex max-w-screen-xl flex-col md:flex-row">
          <div class="m-4 p-5 md:w-3/4 md:p-10">
            <h2 class="mb-4 text-2xl font-bold">Overview</h2>
            <p class="mb-4">
              Our Transfer Pricing services include the preparation of local and
              master files in compliance with ZATCA guidelines, handled by a
              team of ADIT-certified experts. We also provide technical support
              for utilizing double taxation treaties, helping clients maximize
              benefits from international tax agreements.
            </p>
            <div class="mb-8">
              <h3 class="mb-4 text-2xl font-bold">1. Transfer Pricing</h3>

              <ul class="list-disc space-y-3 pl-5">
                <li>
                  We prepare the transfer pricing local file on the
                  inter-company transactions through a team with extensive
                  experience in the field of transfer pricing. This team has a
                  number of ADIT (Advanced Diploma in International Taxation)
                  holders. ADIT is a professional certificate in the field of
                  international taxation and is supervised by the Chartered
                  Institute of Taxation (CIOT), England.
                </li>
                <li>
                  We study the transfer pricing methods used between your
                  company and the group companies (inter-company transactions)
                  for the purpose of preparing the local file in accordance with
                  the transfer pricing guidelines issued as per the decision of
                  ZATCA Board No. (19-1-6) dated 25/5/1440 Hijri in preparation
                  for submitting it to ZATCA upon request.
                </li>
                <li>
                  We also prepare the master file in accordance with the
                  transfer pricing guidelines issued as per the decision of
                  ZATCA Board No. (19-1-6) dated 25/5/1440 Hijri in preparation
                  for submitting it to ZATCA upon request.
                </li>
              </ul>
            </div>
            <div class="mb-8">
              <h3 class="mb-4 text-2xl font-bold">2. Double taxation treaty</h3>

              <ul class="list-disc space-y-3 pl-5">
                <li>
                  We provide the technical support to take the procedures
                  required to apply the double taxation treaties concluded
                  between the Kingdom of Saudi Arabia and the non-resident
                  States - if any.
                </li>
                <li>
                  We study the transactions between the client and non-resident
                  companies belonging to other States and determine the
                  advantages that could be obtained through applying the double
                  taxation treaties concluded between the Kingdom of Saudi
                  Arabia and these States.
                </li>
                <li>
                  We identify the documents and procedures required to benefit
                  from the advantages granted by double taxation treaties,
                  including submitting refund requests according to the
                  mechanism regulated by the ZATCA and in light of the tax
                  brackets determined by the double taxation treaties.
                </li>
              </ul>
            </div>
          </div>
          <div class="p-5 md:w-1/4 md:p-10">
            <div class="mb-8">
              <h2 class="mb-6 text-3xl font-bold">Further Details</h2>
              <hr class="h-1 w-2/5 bg-primary" />
            </div>

            <!-- <button
              class="rounded-lg bg-primary px-6 py-6 text-white"
              type="button"
            >
              Download Brochure
            </button> -->
          </div>
        </div>
      </section>
    </app-tab>
    <app-tab tabTitle="E-Invoicing">
      <section
        class="relative flex h-80 items-center justify-center bg-black lg:h-[500px]"
      >
        <div class="absolute inset-0">
          <img
            src="investment.png"
            alt="investment"
            class="h-full w-full object-cover"
          />
          <div class="absolute inset-0 bg-black opacity-50"></div>
        </div>
        <div
          class="relative z-10 mx-auto max-w-[700px] px-6 text-center text-white"
        >
          <p class="mb-5 text-3xl font-bold lg:text-5xl">
            Electronic Invoicing
          </p>
        </div>
      </section>

      <section class="">
        <section class="mb-16">
          <div class="mx-auto flex max-w-screen-xl flex-col md:flex-row">
            <div class="m-4 p-5 md:w-3/4 md:p-10">
              <h2 class="mb-6 text-2xl font-bold">Overview</h2>
              <p class="mb-8">
                Our Electronic Invoicing service ensures the client's systems
                comply with ZATCA regulations for electronic invoicing. We
                assess and provide recommendations on system compatibility,
                conduct simulations on the "Fatora Platform," and offer
                technical support to ensure seamless integration for tax
                compliance
              </p>

              <div class="mb-8">
                <h3 class="mb-4 text-2xl font-bold">Electronic Invoicing</h3>

                <ul class="list-disc space-y-3 pl-5">
                  <li>
                    We verify the compatibility of the client's application for
                    the first phase (the electronic issuance and saving phase)
                    of electronic invoicing with the “controls, requirements,
                    technical specifications and procedural rules required to
                    implement the provisions of the electronic invoicing
                    regulations” issued by virtue of the decision of the ZATCA
                    Governor No. (62738) dated 23/11/1443 Hijri.
                  </li>
                  <li>
                    We hold meetings with the Financial Department to clarify
                    the requirements of the electronic invoicing regulations and
                    the value added tax system executive regulations and the
                    mechanisms for applying this in the assessment and
                    integration phase as per the company activity, and give our
                    opinion and present our point of view and vision on the
                    extent to which the outputs of the accounting system and the
                    electronic invoicing system are compatible with the
                    mechanisms of preparing the tax return and tax inspection
                    procedures by ZATCA in the future.
                  </li>
                  <li>
                    We submit a detailed report indicating the results of our
                    study of the mechanisms for applying the assessment and
                    integration phase. The report includes our most important
                    observations - if any - and our recommendations to correct
                    any deficiencies in the accounting system and the electronic
                    invoicing system.
                  </li>
                  <li>
                    The scope of our services includes technical support and
                    technical solutions for accounting system and electronic
                    invoicing system, and this service is provided through a
                    competent third party.
                  </li>
                  <li>
                    We conduct a simulation on “Fatora Platform” of the ZATCA
                    before the official commencement of the final assessment
                    with ZATCA.
                  </li>
                </ul>
              </div>
            </div>
            <div class="p-5 md:w-1/4 md:p-10">
              <div class="mb-8">
                <h2 class="mb-6 text-3xl font-bold">Further Details</h2>
                <hr class="h-1 w-2/5 bg-primary md:mx-0" />
              </div>

              <!-- <button
                class="rounded-lg bg-primary px-6 py-6 text-white"
                type="button"
              >
                Download Brochure
              </button> -->
            </div>
          </div>
        </section>
      </section>
    </app-tab>
    <app-tab tabTitle="Bookkeeping">
      <section
        class="relative flex h-80 items-center justify-center bg-black lg:h-[500px]"
      >
        <div class="absolute inset-0">
          <img
            src="bookkeeping2.jpg"
            alt="bookkeeping"
            class="h-full w-full object-cover"
          />
          <div class="absolute inset-0 bg-black opacity-50"></div>
        </div>
        <div
          class="relative z-10 mx-auto max-w-[700px] px-6 text-center text-white"
        >
          <p class="mb-5 text-3xl font-bold lg:text-5xl">
            Bookkeeping & Feasibility Study
          </p>
        </div>
      </section>

      <section class="mb-16">
        <div class="mx-auto flex max-w-screen-xl flex-col md:flex-row">
          <div class="m-4 p-5 md:w-3/4 md:p-10">
            <h2 class="mb-6 text-2xl font-bold">Overview</h2>
            <p class="mb-8">
              We offer comprehensive bookkeeping services, recording accounting
              entries based on client-provided documents and offering technical
              support for necessary adjustments. Our services also include
              feasibility studies to assess the financial viability of projects,
              identifying risks and providing recommendations for success.
            </p>

            <div class="mb-8">
              <h3 class="mb-4 text-2xl font-bold">1. Bookkeeping</h3>

              <ul class="list-disc space-y-3 pl-5">
                <li>
                  We provide technical support to record the accounting entries
                  in light of the documents provided by the client, provided
                  that the registration will be on the accounting system owned
                  by the client upon visiting the administrative premises or
                  through working remotely.
                </li>
                <li>We provide bookkeeping in Arabic language only.</li>
                <li>
                  We provide recommendations to make the necessary amendments to
                  the accounting and documentary cycle - if any - in addition to
                  the technical support to perform these amendments upon the
                  client's request.
                </li>
                <li>
                  We deliver the program outputs to the client only (entries -
                  ledgers - trial balance).
                </li>
                <li>
                  We provide the required technical support and supervise the
                  arrangement or attachment of documents of bookkeeping upon the
                  client's request.
                </li>
              </ul>
            </div>
            <div class="mb-8">
              <h3 class="mb-4 text-2xl font-bold">2. Feasibility study</h3>

              <ul class="list-disc space-y-3 pl-5">
                <li>
                  We assist in the project marketing, financial and tax study
                  and identify potential risks and challenges that may affect
                  the project success.
                </li>
                <li>
                  We identify the financial feasibility of the project by
                  determining the relevant and potential costs and revenues.
                </li>
                <li>
                  We provide the technical study by determining the steps that
                  must be taken to ensure the success of the project.
                </li>
              </ul>
            </div>
          </div>
          <div class="p-5 md:w-1/4 md:p-10">
            <div class="mb-8">
              <h2 class="mb-6 text-3xl font-bold">Further Details</h2>
              <hr class="h-1 w-2/5 bg-primary md:mx-0" />
            </div>

            <!-- <button
              class="rounded-lg bg-primary px-6 py-6 text-white"
              type="button"
            >
              Download Brochure
            </button> -->
          </div>
        </div>
      </section>
    </app-tab>
  </app-tabs-container>

  <section id="proposal" class="my-16">
    <div class="mx-auto grid max-w-screen-2xl grid-cols-1 lg:grid-cols-2">
      <div class="flex flex-col justify-center p-4 text-center lg:text-left">
        <h2 class="mb-4 text-4xl">Hire the Professionals</h2>
        <p class="mb-8 hidden text-lg text-grayPar lg:block">
          ATC Sobol Al-Khebra provides integrated and innovative tax and zakat
          solutions. Our tax services department is divided into specialized
          teams of tax experts, with each team specializing in a specific kind
          of tax.
        </p>
        <a
          routerLink="/contact-us"
          class="hidden w-fit bg-primary px-8 py-3 text-lg font-bold text-white lg:block"
        >
          Schedule a Meeting
        </a>
      </div>
      <div class="flex justify-center p-4">
        <img
          src="hire_bg.jpg"
          alt=""
          class="h-full w-full object-cover object-center lg:w-auto"
        />
      </div>
      <div class="flex flex-col items-center">
        <p class="block p-4 text-center text-lg text-grayPar lg:hidden">
          ATC provides integrated and innovative tax and zakat solutions. Our
          tax services department is divided into specialized teams of tax
          experts, with each team specializing in a specific kind of tax.
        </p>
        <a
          routerLink="/contact-us"
          class="block w-max bg-primary px-8 py-3 text-lg font-bold text-white lg:hidden"
        >
          Schedule a Meeting
        </a>
      </div>
    </div>
  </section>

  <section class="mx-auto my-5 max-w-screen-2xl lg:my-16" id="pro_training">
    <div class="flex flex-col lg:flex-row">
      <div
        class="mt-8 flex flex-col justify-center p-4 text-center lg:mr-10 lg:mt-0 lg:w-7/12 lg:gap-10 lg:text-left"
      >
        <h3 class="mb-8 text-3xl font-bold md:text-4xl">
          Professional Training Division
          <br />
          ATC-Online-Pro-Training
        </h3>
        <p class="hidden p-4 text-lg text-grayPar lg:block">
          <span class="font-bold text-black">
            ATC Group Ashraf Abdel Ghani
          </span>
          Accountants and Tax Consultants
          <span class="font-bold text-black"> in Egypt</span> houses a dedicated
          online Professional Training Division, offering comprehensive courses
          to earn prestigious certifications. Our training center provides
          specialized programs designed to enhance professional skills and
          capabilities in taxation, accounting, and finance.
        </p>
      </div>
      <div class="m-4 flex items-center justify-center bg-grayBg p-4 lg:w-5/12">
        <img
          src="atc_pro_training2.png"
          alt="atc_pro_training"
          class="object-cover"
        />
      </div>
      <p class="block p-4 text-lg text-grayPar lg:hidden">
        <span class="font-bold text-black"> ATC Group Ashraf Abdel Ghani </span>
        Accountants and Tax Consultants
        <span class="font-bold text-black"> in Egypt</span> houses a dedicated
        online Professional Training Division, offering comprehensive courses to
        earn prestigious certifications. Our training center provides
        specialized programs designed to enhance professional skills and
        capabilities in taxation, accounting, and finance.
      </p>
    </div>
    <div class="my-4 flex flex-col lg:my-10 lg:flex-row">
      <div class="flex flex-col p-4 lg:w-7/12 lg:p-0">
        <div class="bg-primary p-6 text-white">
          <h3 class="mb-6 text-3xl font-bold">Explore Our Top Courses:</h3>
          <div class="grid grid-cols-2 text-center md:grid-cols-4">
            <div
              class="flex flex-col items-center justify-center border-[1px] border-white px-4 py-6 xl:py-10"
            >
              <h4 class="text-3xl font-bold">PFA</h4>
              <p class="text-xs">(Professional Financial Accountant)</p>
            </div>
            <div
              class="flex flex-col items-center justify-center border-[1px] border-white px-4 py-6 xl:py-10"
            >
              <h4 class="text-3xl font-bold">CMA</h4>
              <p class="text-xs">(Certified Management Accountant)</p>
            </div>
            <div
              class="flex flex-col items-center justify-center border-[1px] border-white px-4 py-6 xl:py-10"
            >
              <h4 class="text-3xl font-bold">DipIFR</h4>
              <p class="text-xs">
                (Diploma in International Financial Reporting)
              </p>
            </div>
            <div
              class="flex flex-col items-center justify-center border-[1px] border-white px-4 py-6 xl:py-10"
            >
              <h4 class="text-3xl font-bold">ADIT</h4>
              <p class="text-xs">
                (Advanced Diploma in International Taxation)
              </p>
            </div>
          </div>
        </div>
        <div class="hidden flex-1 items-center lg:flex">
          <p class="p-4 text-lg text-grayPar">
            Our courses are crafted to meet international standards and are
            taught by industry experts with extensive practical experience.
            Participants benefit from hands-on training, case studies, and
            practical applications that prepare them for successful careers in
            their respective fields.
          </p>
        </div>
        <div class="m-5 mt-12 hidden w-fit lg:block">
          <a
            href="https://www.atc.com.eg/pro-training/"
            target="_blank"
            class="w-fit rounded-lg bg-primary px-6 py-4 text-white"
            >Learn More
            <i class="fa-solid fa-arrow-up-right-from-square ml-2"></i>
          </a>
        </div>
      </div>
      <div class="mx-4 flex items-center justify-center lg:mx-0 lg:w-5/12">
        <img
          src="courses_offered.png"
          alt="courses_offered"
          class="object-cover"
        />
      </div>
      <div class="p-4">
        <p class="text-center text-lg text-grayPar lg:hidden">
          Our courses are crafted to meet international standards and are taught
          by industry experts with extensive practical experience. Participants
          benefit from hands-on training, case studies, and practical
          applications that prepare them for successful careers in their
          respective fields.
        </p>
      </div>
      <div class="m-5 mt-12 flex items-center justify-center lg:hidden">
        <a
          href="https://www.atc.com.eg/pro-training/"
          target="_blank"
          class="w-fit rounded-lg bg-primary px-6 py-4 text-white"
          >Learn More
          <i class="fa-solid fa-arrow-up-right-from-square ml-2"></i>
        </a>
      </div>
    </div>
  </section>

  <!-- <section class="my-10">
    <div class="mx-auto max-w-screen-2xl">
      <div class="m-4 mx-auto max-w-screen-xl p-5 md:p-10">
        <div class="mb-8">
          <h4 class="mb-6 text-xl font-bold">
            We offer specialized courses for prestigious international
            certifications, including:
          </h4>
          <ul class="list-disc space-y-3 pl-5">
            <li>Certified Management Accountant (CMA)</li>
            <li>Diploma in International Financial Reporting (DipIFR)</li>
            <li>Advanced Diploma in International Taxation (ADIT)</li>
            <li>Financial Modeling and Analyst Association (FMAA)</li>
          </ul>
        </div>
        <div class="mb-8">
          <h4 class="mb-6 text-xl font-bold">Upcoming Courses:</h4>
          <ul class="list-disc space-y-3 pl-5">
            <li>Certified Public Accountant (CPA)</li>
            <li>Association of Chartered Certified Accountants (ACCA)</li>
            <li>Certified Internal Auditor (CIA)</li>
            <li>Financial Modeling and Valuation Analyst (FMVA)</li>
            <li>Certified in Strategy and Competitive Analysis (CSCA)</li>
            <li>Certified Islamic Professional Accountant (CIPA)</li>
          </ul>
        </div>
      </div>
    </div>
  </section> -->
</main>
<app-footer></app-footer>
