<app-header></app-header>
<section id="hero_section" class="flex flex-col pt-40 text-white lg:flex-row">
  <div class="relative left-0 top-0 bg-primary lg:w-[44%]">
    <img
      ngSrc="hero_dots.png"
      alt="dots"
      priority
      width="80"
      height="150"
      class="absolute top-[-10px] z-40 ltr:left-[-20px] rtl:right-[-20px]"
    />
    <div
      class="flex flex-col px-6 py-12 md:px-12 lg:ml-auto lg:max-w-[700px] lg:px-6 lg:py-20 xl:pl-6 xl:pr-20 2xl:pb-28 2xl:pt-12"
    >
      <div class="flex flex-col items-center lg:items-start">
        <p class="mb-2 text-xl lg:text-3xl xl:mb-6">Welcome to</p>
        <div class="max-w-[368px]">
          <img
            ngSrc="ATC_hero_logo.png"
            priority
            width="368"
            height="188"
            alt="ATC_logo"
            class="p-2 lg:p-0"
          />
          <div
            class="mx-3 mb-3 mt-1 text-lg font-medium tracking-[0.2rem] sm:text-xl lg:mx-1 lg:text-3xl lg:tracking-[0.1rem] xl:mb-12 xl:mt-4"
          >
            <p>ASHRAF ABDEL GHANI</p>
            <p>Sobol Al-Khebra</p>
          </div>
        </div>
        <p class="mb-8 text-center text-xl lg:mb-4 lg:text-start xl:mb-12">
          ATC Sobol Al-Khebra stands as one of the leading firms in the Kingdom
          of Saudi Arabia, offering an extensive array of Accounting, Tax and
          Zakat , Auditing and Financial Consulting Services tailored to meet
          the diverse needs of both businesses and individuals.
        </p>
        <a
          (click)="scrollToSection()"
          class="z-30 cursor-pointer bg-white px-7 py-4 text-black"
        >
          DISCOVER MORE
          <i class="fa-solid fa-arrow-right fa-lg ml-3"></i>
        </a>
      </div>
    </div>
    <div
      class="absolute bottom-0 right-0 z-20 hidden items-center bg-white lg:flex lg:h-16"
    >
      <div
        class="flex flex-row-reverse lg:gap-4 lg:px-4 lg:py-3 xl:gap-10 xl:px-6"
      >
        <a
          href="https://www.linkedin.com/company/atcgroupksa/posts"
          target="_blank"
        >
          <i
            class="fa-brands fa-linkedin text-4xl text-black hover:text-primary"
          ></i>
        </a>
        <a href="https://www.instagram.com/atcgroup.ksa" target="_blank">
          <i
            class="fa-brands fa-square-instagram text-4xl text-black hover:text-primary"
          ></i>
        </a>
        <a href="https://x.com/atcgroupksa" target="_blank">
          <i
            class="fa-brands fa-square-x-twitter text-4xl text-black hover:text-primary"
          ></i>
        </a>
        <a href="https://www.facebook.com/ATCgroupksa" target="_blank">
          <i
            class="fa-brands fa-square-facebook text-4xl text-black hover:text-primary"
          ></i>
        </a>
      </div>
    </div>
  </div>
  <div class="relative left-0 top-0 lg:w-[56%]">
    <div class="h-full overflow-hidden">
      <img
        src="hero_image.jpg"
        alt="hero_image"
        class="h-full w-full object-cover"
      />
    </div>
    <div class="absolute bottom-0 left-0 z-10 hidden bg-primary lg:block">
      <img ngSrc="arrow.png" width="64" height="64" priority alt="arrow_icon" />
    </div>
  </div>
  <div class="flex items-center px-4 lg:hidden">
    <div class="flex flex-1 items-center bg-white">
      <div class="flex flex-1 justify-around">
        <a href="https://www.facebook.com/ATCgroupksa" target="_blank">
          <i
            class="fa-brands fa-square-facebook text-2xl text-black hover:text-primary md:text-4xl"
          ></i>
        </a>
        <a href="https://x.com/atcgroupksa" target="_blank">
          <i
            class="fa-brands fa-square-x-twitter text-2xl text-black hover:text-primary md:text-4xl"
          ></i>
        </a>
        <a href="https://www.instagram.com/atcgroup.ksa" target="_blank">
          <i
            class="fa-brands fa-square-instagram text-2xl text-black hover:text-primary md:text-4xl"
          ></i>
        </a>
        <a
          href="https://www.linkedin.com/company/atcgroupksa/posts"
          target="_blank"
        >
          <i
            class="fa-brands fa-linkedin text-2xl text-black hover:text-primary md:text-4xl"
          ></i>
        </a>
      </div>
    </div>
    <div
      class="relative flex h-12 w-12 items-center justify-center bg-primary md:h-16 md:w-16"
    >
      <img
        ngSrc="arrow.png"
        width="48"
        height="48"
        priority
        alt="arrow_icon"
        class="h-full w-full"
      />
    </div>
  </div>
</section>

<section id="our_services" class="m-auto mb-12 mt-20 max-w-screen-2xl p-4">
  <div class="mx-auto mb-12 max-w-[800px] text-center">
    <p class="mb-4 text-center text-2xl tracking-[0.5rem] text-grayTitle">
      OUR SERVICES
    </p>
    <h2 class="mb-8 text-center text-4xl">Delivering Unrivaled Results</h2>
    <p class="mb-8 text-center text-xl text-grayPar">
      We combine our technical proficiency with extensive market insights and
      experience to deliver innovative solutions that empower our clients to
      thrive in the global marketplace.
    </p>
    <hr class="mx-auto my-4 w-1/2 bg-[#eeeeee]" />
  </div>
  <div class="grid grid-cols-1 gap-11 md:grid-cols-2 lg:grid-cols-3">
    <div
      class="flex flex-col items-center border-b-8 border-black bg-white-gray-gradient p-4 text-center"
    >
      <img
        ngSrc="tax_service.png"
        alt="tax services"
        class="mb-8"
        width="440"
        height="305"
      />
      <h2 class="mb-4 text-center text-2xl">Tax and Zakat Services</h2>
      <p class="mb-8 flex-1 text-center text-lg text-grayPar">
        Our tax and zakat department provides integrated and innovative
        solutions, helping firms navigate through complex challenges.
      </p>
    </div>
    <div
      class="flex flex-col items-center border-b-8 border-black bg-white-gray-gradient p-4 text-center"
    >
      <img
        ngSrc="audit.webp"
        alt="audit service"
        class="mb-8"
        width="440"
        height="305"
      />
      <h2 class="mb-4 text-center text-2xl">Auditing</h2>
      <p class="mb-8 flex-1 text-center text-lg text-grayPar">
        Our Auditing service offers a comprehensive understanding of an
        organization's current status, scrutinizing the integrity of financial
        statements and delivering confidence to investors and capital markets.
      </p>
    </div>
    <div
      class="flex flex-col items-center border-b-8 border-black bg-white-gray-gradient p-4 text-center"
    >
      <img
        ngSrc="consultation.jpg"
        alt="consultation services"
        class="mb-8"
        width="440"
        height="305"
      />
      <h2 class="mb-4 text-center text-2xl">Consultation Services</h2>
      <p class="mb-8 flex-1 text-center text-lg text-grayPar">
        Our consultation services offer expert guidance, leveraging the in-depth
        knowledge and field experience of our highly skilled consultants. We
        ensure personalized, high-quality advice to help clients navigate
        complex business challenges and make informed decisions.
      </p>
    </div>
  </div>
  <div class="my-16 text-center">
    <a routerLink="/services" class="bg-primary px-5 py-4 text-white">
      KNOW MORE
      <i class="fa-solid fa-arrow-right fa-lg ml-3"></i>
    </a>
  </div>
</section>

<section class="flex flex-col xl:flex-row">
  <div class="bg-primary py-20 text-white xl:w-5/12">
    <div class="p-4 px-4 xl:ml-auto xl:max-w-[580px]">
      <p class="mb-8 text-2xl tracking-widest">WHY CHOOSE US</p>
      <p class="mb-10 text-5xl font-bold">Your Business Thrives With ATC</p>
      <p class="mb-16 text-xl">
        At ATC Sobol Al-Khebra, we provide specialized financial consulting
        services meticulously customised to address your individual
        requirements. Here's why our services stand out.
      </p>
      <a routerLink="/about-us" class="mb-20 bg-white px-7 py-4 text-black">
        LEARN MORE
        <i class="fa-solid fa-arrow-right fa-lg ml-3"></i>
      </a>
    </div>
  </div>

  <div
    class="flex flex-col items-center justify-center bg-grayBg lg:flex-row xl:w-7/12"
  >
    <div
      class="my-12 mr-0 flex flex-col gap-6 p-4 md:flex-row lg:mr-5 lg:max-w-[920px] xl:mr-auto"
    >
      <div
        class="flex flex-col items-center justify-start gap-4 bg-white p-4 md:w-4/12 md:gap-8"
      >
        <div>
          <img
            ngSrc="personalized_solutions.png"
            alt="personalized_solutions"
            class="mt-16"
            width="133"
            height="133"
          />
        </div>
        <p class="text-lg font-bold">Personalized Solutions</p>
        <p class="mb-8 text-center text-grayPar">
          We craft customized financial strategies that maximize savings and
          minimize liabilities addressing your specific financial situation.
        </p>
      </div>
      <div
        class="flex flex-col items-center justify-start gap-4 bg-white p-4 md:w-4/12 md:gap-8"
      >
        <img
          ngSrc="expertise.png"
          alt="expertise"
          class="mt-16"
          width="133"
          height="133"
        />
        <p class="text-lg font-bold">Expertise</p>
        <p class="mb-8 text-center text-grayPar">
          Our seasoned financial professionals offer in-depth field knowledge
          and understanding of tax and zakat laws, providing accurate and
          reliable guidance.
        </p>
      </div>
      <div
        class="flex flex-col items-center justify-start gap-4 bg-white p-4 md:w-4/12 md:gap-8"
      >
        <img
          ngSrc="reliable_support.png"
          alt="reliable_support"
          class="mt-16"
          width="133"
          height="133"
        />
        <p class="text-lg font-bold">Reliable Support</p>
        <p class="mb-8 text-center text-grayPar">
          We believe that providing ongoing support is crucial in ensuring your
          success. That's why we offer periodic support to address your evolving
          needs and provide continuous assistance throughout our partnership.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- will be replaced  -->
<section class="mb-24 pb-8 pt-0 md:py-20" id="about_company">
  <div class="mx-auto max-w-screen-2xl p-4 lg:gap-10 lg:p-4">
    <h2 class="mb-8 text-center text-5xl font-bold lg:hidden">ATC GROUP</h2>
    <!-- <hr class="mx-auto my-4 w-1/2 bg-[#eeeeee]" /> -->

    <div class="block p-4 lg:hidden">
      <img
        ngSrc="ATC Group.png"
        alt="ATC_Group"
        class="object-cover"
        width="600"
        height="418"
      />
    </div>
    <div class="flex flex-col justify-between gap-16 lg:flex-row lg:gap-8">
      <div
        class="mb-8 mt-8 flex flex-col items-center justify-between p-0 text-center lg:w-1/2 lg:items-start lg:p-0 lg:text-left"
      >
        <h2 class="mb-8 hidden text-center text-5xl font-bold lg:block">
          ATC GROUP
        </h2>

        <p class="mb-8 text-xl font-bold">
          ATC Sobol Al-Khebra proudly operates as one of ATC Group Ashraf
          Abdel-Ghani companies, headquartered in Cairo, Egypt. With over 27
          years of expertise in the tax and auditing sector, ATC Group has
          established itself as a leader in the field, boasting a robust
          presence across three countries and ten branches. Our commitment to
          excellence and client satisfaction positions us as a trusted partner
          in navigating the complexities of financial compliance and consulting
          across the Middle East and North Africa.
        </p>

        <a
          href="https://www.atc.com.eg/"
          target="_blank"
          class="w-fit rounded-lg bg-primary p-4 text-white"
        >
          Visit ATC Group
          <i class="fa-solid fa-arrow-up-right-from-square ml-2"></i>
        </a>
      </div>
      <div class="hidden lg:block lg:w-1/2">
        <img
          ngSrc="ATC Group.png"
          alt="atc_group"
          class="mx-auto"
          width="600"
          height="418"
        />
      </div>
    </div>
  </div>
</section>

<section
  class="my-24 flex max-w-screen-2xl flex-col text-center lg:mx-auto lg:flex-row lg:text-start"
  id="chair-man"
>
  <div class="block p-5 lg:hidden">
    <h3 class="mb-6 text-4xl">Our Chairman at ATC Group</h3>
    <p class="text-xl">
      Ashraf Abdel Ghani, with over 30 years of expertise in the Tax services
      and Auditing, serves as the visionary leader steering ATC Group to
      unparalleled success.
    </p>
  </div>
  <div class="m-5 mx-auto h-full p-2 lg:my-auto lg:w-[45%]">
    <img
      ngSrc="chair-man.png"
      alt="Mr.Ashraf Abdel Ghani"
      class="border-2 border-primary object-cover p-5"
      width="675"
      height="663"
    />
  </div>
  <div class="flex flex-col gap-10 rounded-md p-4 py-12 lg:w-[55%]">
    <div class="hidden lg:block">
      <h3 class="mb-6 text-4xl">Our Chairman At ATC Group</h3>
      <p class="text-xl">
        Ashraf Abdel Ghani, with over 30 years of expertise in the Tax services
        and Auditing, serves as the visionary leader steering ATC Group to
        unparalleled success.
      </p>
    </div>
    <div class="rounded-md bg-gray-300 p-6 lg:p-12">
      <h3 class="mb-2 text-3xl">Ashraf Abdel Ghani</h3>
      <p class="mb-6 text-grayPar">
        Chairman and Managing Director, Member of the Board of Directors & the
        founder of the Egyptian Association of Tax Experts.
      </p>
      <p class="text-xl">
        Ashraf Abdel Ghani's commitment to excellence and innovation has
        elevated the company to the forefront of the field, making ATC the top
        tax firm in Egypt, with an expanding presence in the Middle East and
        North Africa. His leadership inspires the team, driving our shared
        vision and ensuring continued prosperity.
      </p>
    </div>
  </div>
</section>

<section
  id="proposal"
  class="relative flex h-80 items-center justify-center bg-black text-center lg:h-96"
>
  <div class="absolute inset-0">
    <img
      ngSrc="business_proposal.jpg"
      alt="Proposal Background"
      class="object-cover"
      fill
    />

    <div class="absolute inset-0 bg-black opacity-50"></div>
  </div>
  <div class="relative z-10 px-6 text-white">
    <p class="mb-5 text-3xl font-bold lg:text-5xl">
      Submit A Request For Proposal
    </p>
    <p class="mb-8 lg:text-xl">
      Partner with ATC to achieve your financial goals. Reach out for a
      customized proposal today.
    </p>
    <a
      routerLink="/contact-us"
      class="inline-block bg-primary px-8 py-3 text-lg font-bold text-white"
    >
      Request a Proposal
    </a>
  </div>
</section>

<section id="our_industries" class="my-24 max-w-screen-2xl lg:mx-auto">
  <div class="mx-auto mb-12 max-w-[650px] text-center">
    <p class="mb-4 text-center text-2xl tracking-[0.3rem] text-grayTitle">
      Fields We Serve
    </p>
    <h2 class="mb-8 text-center text-2xl lg:text-4xl">
      Tailored Financial Solutions For Your Company.
    </h2>
    <hr class="mx-auto my-4 h-0.5 w-1/2 bg-[#eeeeee]" />
  </div>
  <div
    class="m-4 grid grid-cols-2 gap-8 lg:mx-8 lg:my-12 lg:grid-cols-3 lg:items-center"
  >
    <div class="flex flex-col items-center gap-5">
      <img
        ngSrc="finance_field.png"
        alt="Finance"
        class="border-2 border-primary p-5"
        width="88"
        height="86"
      />
      <p class="text-center text-lg lg:text-left lg:text-xl">
        Finance & Investment funds
      </p>
    </div>
    <div class="flex flex-col items-center gap-5">
      <img
        ngSrc="consumer_and_retail_markets.png"
        alt="Consumer_and_retail_markets"
        class="border-2 border-primary p-5"
        width="82"
        height="82"
      />
      <p class="text-center text-lg lg:text-left lg:text-xl">
        Consumer & Retail Markets
      </p>
    </div>
    <div class="flex flex-col items-center gap-5">
      <img
        ngSrc="hotels.png"
        alt="Tourism_and_hotels"
        class="border-2 border-primary p-5"
        width="89"
        height="89"
      />
      <p class="text-center text-lg lg:text-left lg:text-xl">
        Tourism & Hotels
      </p>
    </div>
    <div class="flex flex-col items-center gap-5">
      <img
        ngSrc="tech_and_telecommunication.png"
        alt="Tech_and_telecommunication"
        class="border-2 border-primary p-5"
        width="79"
        height="99"
      />
      <p class="text-center text-lg lg:text-xl">
        Technology & <br />Telecommunication
      </p>
    </div>
    <div class="flex h-full flex-col items-center gap-5">
      <img
        ngSrc="realestate.png"
        alt="Real_estate"
        class="border-2 border-primary p-5"
        width="89"
        height="89"
      />
      <p class="text-center text-lg lg:text-left lg:text-xl">Real estate</p>
    </div>
    <div class="flex h-full flex-col items-center gap-5">
      <img
        ngSrc="building_and_construction.png"
        alt="Building_and_construction"
        class="border-2 border-primary p-5"
        width="90"
        height="83"
      />
      <p class="text-center text-lg lg:text-left lg:text-xl">
        Building & Construction
      </p>
    </div>
  </div>
  <!-- <div class="my-16 text-center">
    <a class="bg-primary px-8 py-4 text-lg text-white"> AND MORE </a>
  </div> -->
</section>

<section id="clients" class="my-24 max-w-screen-2xl lg:mx-auto">
  <div class="mx-auto mb-12 max-w-[800px] p-4 text-center">
    <p class="mb-4 text-center text-2xl tracking-[0.3rem] text-grayTitle">
      Our Clients
    </p>
    <h2 class="mb-8 text-center text-2xl lg:text-4xl">
      A Diverse Client Portfolio
    </h2>
    <p class="mb-8 text-center text-grayPar">
      Our clientele encompasses a wide range of fields including: Industrial,
      Commercial, Contracting, Construction, Real Estate, Tourism & Hotels,
      Telecommunication, Finance, Banking and a range of service fields,
      featuring a mix of national and multinational companies, ranging from
      medium sized enterprises to large organizations.
    </p>
    <hr class="mx-auto my-4 h-0.5 w-1/2 bg-[#eeeeee]" />
  </div>

  <div
    class="my-8 grid grid-cols-1 place-items-center gap-8 bg-primary px-12 py-12 text-white md:grid-cols-3 md:px-20"
  >
    <div class="flex flex-col items-center gap-3 text-center md:gap-5">
      <img
        ngSrc="clients_icon.png"
        alt="Clients"
        class="mx-auto md:mx-0"
        width="62"
        height="62"
      />
      <p
        class="text-6xl"
        [countUp]="clients"
        [options]="{
          enableScrollSpy: true,
          suffix: '+',
          startVal: 0,
          scrollSpyOnce: true,
        }"
      ></p>
      <p class="text-2xl">Clients</p>
    </div>

    <div class="flex flex-col items-center gap-3 text-center md:gap-5">
      <img
        ngSrc="experience_icon.png"
        alt="Experience"
        class="mx-auto md:mx-0"
        width="62"
        height="62"
      />
      <p
        class="text-6xl"
        [countUp]="yearsOfExperience"
        [options]="{
          enableScrollSpy: true,
          suffix: '+',
          startVal: 0,
          scrollSpyOnce: true,
        }"
      ></p>
      <p class="text-2xl">YEARS OF EXPERIENCE<br />IN SAUDI ARABIA</p>
    </div>
    <div class="flex flex-col items-center gap-3 text-center md:gap-5">
      <img
        ngSrc="branches_icon.png"
        alt="Branches"
        class="mx-auto md:mx-0"
        width="62"
        height="62"
      />
      <p
        class="text-6xl"
        [countUp]="branches"
        [options]="{ enableScrollSpy: true, startVal: 0, scrollSpyOnce: true }"
      ></p>
      <p class="text-2xl">Branches</p>
    </div>
  </div>
</section>

<section id="insights" class="my-24 max-w-screen-2xl lg:mx-auto">
  <div class="mx-auto mb-12 max-w-[800px] p-3 text-center">
    <p class="mb-4 text-center text-xl tracking-[0.2rem] text-grayTitle">
      LATEST INSIGHTS
    </p>
    <h2 class="mb-8 text-center text-4xl">News and articles</h2>
    <p class="mb-8 text-center text-lg text-grayPar">
      Stay informed with the most recent articles and news covering Accounting
      and Taxation, featuring both National and MENA Region updates.
    </p>
  </div>

  @if (isLoading) {
    <section class="bg-white">
      <div class="container mx-auto animate-pulse px-6 py-4">
        <div
          class="mt-6 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-12"
        >
          <div class="w-full">
            <div class="h-64 w-full rounded-lg bg-gray-300"></div>

            <h1 class="dd mt-4 h-2 w-56 rounded-lg bg-gray-200"></h1>
            <p class="dd mt-4 h-2 w-24 rounded-lg bg-gray-200"></p>
          </div>

          <div class="w-full">
            <div class="h-64 w-full rounded-lg bg-gray-300"></div>

            <h1 class="dd mt-4 h-2 w-56 rounded-lg bg-gray-200"></h1>
            <p class="dd mt-4 h-2 w-24 rounded-lg bg-gray-200"></p>
          </div>

          <div class="w-full">
            <div class="h-64 w-full rounded-lg bg-gray-300"></div>

            <h1 class="dd mt-4 h-2 w-56 rounded-lg bg-gray-200"></h1>
            <p class="dd mt-4 h-2 w-24 rounded-lg bg-gray-200"></p>
          </div>

          <div class="w-full">
            <div class="h-64 w-full rounded-lg bg-gray-300"></div>

            <h1 class="dd mt-4 h-2 w-56 rounded-lg bg-gray-200"></h1>
            <p class="dd mt-4 h-2 w-24 rounded-lg bg-gray-200"></p>
          </div>
        </div>
      </div>
    </section>
  }

  @if (!isLoading && articles) {
    <div class="my-8 grid grid-cols-1 gap-8 px-5 md:grid-cols-2 lg:grid-cols-4">
      @for (article of articles; track $index) {
        <div class="flex flex-col border-b-8 border-black bg-grayBg">
          <img
            [src]="article.image_url"
            [alt]="article.title"
            class="h-[250px] w-full object-cover"
          />
          <div class="flex flex-1 flex-col justify-between p-4">
            <p class="mb-8" [attr.dir]="getDirection(article.title)">
              {{ article.title }}
            </p>
            <a
              [routerLink]="['/insights', article.id]"
              class="w-fit cursor-pointer border-b-2 border-primary text-center text-primary"
            >
              Read more
            </a>
          </div>
        </div>
      }
    </div>
  }
</section>

<app-footer></app-footer>
