<app-header></app-header>
<main class="pt-40 font-sans">
  <section
    class="relative flex h-80 items-center justify-center bg-black text-center lg:h-[410px]"
    id="about-us-cover"
  >
    <div class="absolute inset-0">
      <img
        src="about_us_cover.jpg"
        alt="about_us_cover"
        class="about-us-cover h-full w-full object-cover"
      />
      <div class="absolute inset-0 bg-black opacity-50"></div>
    </div>
    <div class="relative z-10 px-6 text-white">
      <p class="mb-5 text-3xl font-bold lg:text-5xl">About Us</p>
      <p class="mb-5 text-3xl font-bold lg:text-2xl">ATC Group</p>
      <hr class="mx-auto h-0.5 w-1/3" />

      <p class="my-8 lg:text-xl">
        Ashraf Abdel Ghani Accountants and Tax Consultants
      </p>
    </div>
  </section>

  <section id="atc_history" class="my-16">
    <div class="mx-auto grid max-w-screen-2xl grid-cols-1 lg:grid-cols-2">
      <div class="flex flex-col justify-center p-4 text-center lg:text-left">
        <h2 class="mb-8 text-4xl">Company History</h2>
        <p class="hidden text-lg text-grayPar lg:block">
          Founded in 1997, ATC Group Middle East - Ashraf Abdel Ghani
          Accountants and Tax Consultants has evolved into a premier tax
          consultancy firm, recognized for its excellence and leadership in the
          MENA region. With headquarters in Egypt, we have rapidly expanded our
          presence across the Middle East, including the KSA and UAE, reflecting
          our commitment to providing exceptional service and achieving
          operational excellence. As a proud member of the Geneva Group
          International (GGI), we are part of a global network of independent
          accounting firms, business consultants, and legal advisors, which
          strengthens our ability to offer world-class consultancy services.
        </p>
      </div>
      <div class="flex justify-center p-4">
        <img
          src="atc_history.png"
          alt=""
          class="h-full w-full object-cover object-center lg:w-auto"
        />
      </div>
      <p class="block p-4 text-center text-lg text-grayPar lg:hidden">
        Founded in 1997, ATC Group Middle East - Ashraf Abdel Ghani Accountants
        and Tax Consultants has evolved into a premier tax consultancy firm,
        recognized for its excellence and leadership in the MENA region. With
        headquarters in Egypt, we have rapidly expanded our presence across the
        Middle East, including the KSA and UAE, reflecting our commitment to
        providing exceptional service and achieving operational excellence. As a
        proud member of the Geneva Group International (GGI), we are part of a
        global network of independent accounting firms, business consultants,
        and legal advisors, which strengthens our ability to offer world-class
        consultancy services.
      </p>
    </div>
  </section>

  <section class="mx-auto my-16 mb-32 max-w-screen-2xl" id="vision_and_mission">
    <div class="flex flex-col gap-0 lg:flex-row">
      <div class="relative m-4 bg-transparent lg:mr-0 lg:w-7/12">
        <img
          src="our_visionn.png"
          alt="our_vision_cover"
          class="mb-60 w-full border-4 border-white md:mb-32 lg:mb-20 lg:shadow-[10px_0_20px_rgba(0,0,0,0.25)]"
        />

        <div
          class="absolute bottom-0 left-1/2 mx-auto w-10/12 -translate-x-1/2 transform bg-primary px-4 py-8 text-center text-white md:w-3/5 lg:w-2/3 lg:p-4 xl:left-1/2 xl:w-1/2 xl:p-8"
        >
          <h3 class="mb-5 text-xl lg:text-3xl">Vision Statement</h3>
          <p class="lg:text-lg">
            ATC Group Middle East - Ashraf Abdel Ghani Accountants and Tax
            Consultants aspires to become the industry leader in Taxation,
            Auditing, Accounting, and Managerial consultancies throughout the
            Arab world. Our vision is to support both local and international
            businesses in their operations, accelerating their growth and
            ensuring their compliance with the highest standards of financial
            and managerial practices.
          </p>
        </div>
      </div>

      <div
        class="relative m-4 flex items-center justify-center lg:m-0 lg:w-5/12"
      >
        <img
          src="our_mission.png"
          alt="our_mission_cover"
          class="mb-48 w-full md:mb-20"
        />
        <div
          class="absolute bottom-0 left-1/2 mx-auto w-10/12 -translate-x-1/2 transform bg-primary px-4 py-8 text-center text-white md:w-3/5 lg:mb-9 lg:w-9/12 lg:p-4 xl:left-1/2 xl:mb-36 xl:w-3/5 xl:p-8"
        >
          <h3 class="mb-5 text-xl lg:text-3xl">Mission Statement</h3>
          <p class="lg:text-lg">
            Our mission is to convert our integrated and comprehensive
            solutions, market knowledge, and extensive experience into value,
            facilitating the growth and prosperity of our clients' businesses.
            We aim to deliver insights and strategies that enable our clients to
            navigate complex tax landscapes and achieve their financial goals.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="why_atc" class="mx-auto my-20 max-w-screen-2xl">
    <div class="mx-auto max-w-[900px] p-5 text-center">
      <h3 class="mb-6 text-4xl">WHY CHOOSE ATC?</h3>
      <P class="text-grayPar"
        >At ATC Group Middle East - Ashraf Abdel Ghani Accountants and Tax
        Consultants, our expertise helps businesses tackle various challenges,
        from immediate issues like cost reduction and efficiency improvement to
        extensive, enterprise-wide transformation projects. Our solutions are
        not only effective but also sustainable, providing long-term benefits
        and fostering enduring client relationships.</P
      >
    </div>
  </section>

  <section id="our_strength" class="mx-auto my-10 max-w-screen-2xl lg:my-24">
    <div>
      <h3 class="mb-8 pl-4 text-3xl">Our Strengths Include</h3>
      <div class="grid grid-cols-1 gap-8 p-4 md:grid-cols-3">
        <div class="flex flex-col gap-4 text-center">
          <img src="strength_1.png" alt="" />
          <p class="text-xl">Comprehensive Tax Knowledge</p>
          <p class="text-grayPar">
            With over 26 years of experience, we have a deep understanding of
            local and international tax laws, enabling us to provide precise and
            proactive tax consulting services.
          </p>
        </div>
        <!-- <div class="flex flex-col gap-4 text-center">
          <img src="strength_2.png" alt="" />
          <p class="text-xl">Global Network</p>
          <p class="text-grayPar">
            As part of the GGI, we have access to a vast pool of resources and
            expertise, ensuring that our clients receive the best advice and
            support.
          </p>
        </div> -->
        <div class="flex flex-col gap-4 text-center">
          <img src="strength_3.png" alt="" />
          <p class="text-xl">Diverse Service Portfolio</p>
          <p class="text-grayPar">
            We offer a wide range of services, including Taxation, Zakat,
            Auditing, International Taxation, Management Consultancy, and
            Bookkeeping, making us a one-stop solution for all financial
            consulting needs.
          </p>
        </div>
        <div class="flex flex-col gap-4 text-center">
          <img src="strength_4.png" alt="" />
          <p class="text-xl">Customized Solutions</p>
          <p class="text-grayPar">
            Our services are tailored to meet the unique needs of each client,
            ensuring that we provide the most relevant and effective solutions.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="how_we_operate" class="my-5 lg:my-16">
    <div class="my-10 bg-primary">
      <div
        class="relative mx-auto flex max-w-screen-2xl flex-col gap-16 lg:flex-row lg:gap-0"
      >
        <div
          class="flex flex-col justify-center text-center lg:w-5/12 lg:text-left"
        >
          <div class="p-4 py-16 text-white">
            <h3 class="mb-8 text-4xl">HOW DO WE OPERATE?</h3>
            <P class="mb-4 text-lg"
              >ATC Group Middle East - Ashraf Abdel Ghani Accountants and Tax
              Consultants operates on a foundation of professionalism and
              Collaboration, expertise, and client-centric approach.
            </P>
            <p class="text-lg">
              Our operational framework is designed to ensure that we deliver
              exceptional services and exceed client expectations.
            </p>
          </div>
        </div>
        <div
          class="flex flex-col items-center gap-24 p-4 py-10 lg:w-7/12 lg:items-end"
        >
          <div class="relative max-w-[700px] bg-white p-8 pt-12 text-black">
            <div
              class="absolute top-[-60px] mb-10 h-[105px] w-[105px] transform rounded-full border-[2px] border-white bg-primary p-8 lg:mb-0"
            >
              <img
                src="professionalism_and_collaboration.png"
                alt="professionalism_and_collaboration"
                class="w-full"
              />
            </div>
            <p class="mb-4 text-2xl">Professionalism and Collaboration</p>
            <p class="text-lg text-grayPar">
              We believe in open and transparent communication with our clients.
              Collaboration is integral to our approach, fostering long-term
              relationships built on trust and mutual respect.
            </p>
          </div>
          <div
            class="relative max-w-[700px] bg-white p-8 pt-12 text-black lg:mr-8"
          >
            <div
              class="absolute top-[-60px] mb-10 h-[105px] w-[105px] transform rounded-full border-[2px] border-primary bg-white p-8 lg:mb-0"
            >
              <img
                src="expertise_and_knowledge.png"
                alt="expertise_and_knowledge"
                class="w-full"
              />
            </div>
            <p class="mb-4 text-2xl">Expertise and Knowledge</p>
            <p class="text-lg text-grayPar">
              With a team of professionals and experts in tax consultancy,
              Zakat, auditing, accounting, and managerial services, we offer
              comprehensive solutions that meet the highest industry standards.
            </p>
          </div>
          <div class="relative max-w-[700px] bg-white p-8 pt-12 text-black">
            <div
              class="absolute top-[-60px] mb-10 h-[105px] w-[105px] transform rounded-full border-[2px] border-primary bg-white p-8 lg:mb-0"
            >
              <img
                src="Client-Centric_approach.png"
                alt="Client-Centric_approach"
                class="w-full"
              />
            </div>
            <p class="mb-4 text-2xl">Client-Centric Approach</p>
            <p class="text-lg text-grayPar">
              We prioritize understanding our clients' unique needs and
              challenges. Our solutions are tailored to address specific
              business requirements, ensuring relevance and effectiveness.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="our-commitment" class="my-5 lg:my-16">
    <div class="mx-auto flex max-w-screen-2xl flex-col lg:flex-row">
      <div class="mb-8 text-4xl lg:hidden">
        <h3 class="text-center text-4xl">Our Commitment</h3>
      </div>
      <div class="flex flex-col justify-center p-4 lg:w-5/12">
        <img
          src="our_commitment.png"
          alt="our_commitment"
          class="h-full w-full object-cover"
        />
      </div>
      <div class="flex flex-col justify-center lg:ml-10 lg:w-7/12">
        <div class="p-4">
          <h3 class="mb-8 hidden text-4xl lg:block">Our Commitment</h3>
          <p class="text-lg text-grayPar">
            With operational excellence in the field for over 26 years, our team
            is well-equipped to guide your company to success. We are dedicated
            to providing valuable insights and advice that will help elevate
            your firm's position in the market. Our commitment to excellence,
            integrity, and client satisfaction is the cornerstone of our
            business philosophy, driving us to deliver exceptional services
            consistently.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="mx-auto my-5 max-w-screen-2xl lg:my-16" id="pro_training">
    <div class="flex flex-col lg:flex-row">
      <div
        class="mt-8 flex flex-col justify-center p-4 text-center lg:mr-10 lg:mt-0 lg:w-7/12 lg:gap-10 lg:text-left"
      >
        <h3 class="mb-8 text-3xl md:text-4xl">
          Professional Training Division
          <br />
          ATC-Online-Pro-Training
        </h3>
        <p class="hidden text-lg text-grayPar lg:block">
          ATC Group Middle East - Ashraf Abdel Ghani Accountants and Tax
          Consultants houses a dedicated online Professional Training Division,
          offering comprehensive courses to earn prestigious certifications. Our
          training center provides specialized programs designed to enhance
          professional skills and capabilities in taxation, accounting, and
          finance.
        </p>
      </div>
      <div class="m-4 flex items-center justify-center bg-grayBg p-4 lg:w-5/12">
        <img
          src="atc_pro_training2.png"
          alt="atc_pro_training"
          class="object-cover"
        />
      </div>
    </div>
    <div class="my-4 flex flex-col lg:my-10 lg:flex-row">
      <div class="flex flex-col p-4 lg:w-7/12 lg:p-0">
        <div class="bg-primary p-6 text-white">
          <h3 class="mb-6 w-max text-3xl font-bold">Courses Offered:</h3>
          <div class="grid grid-cols-2 text-center md:grid-cols-4">
            <div
              class="flex flex-col items-center justify-center border-[1px] border-white px-4 py-6 xl:py-10"
            >
              <h4 class="text-3xl font-bold">ADIT</h4>
              <p class="text-xs">
                (Advanced Diploma in International Taxation)
              </p>
            </div>
            <div
              class="flex flex-col items-center justify-center border-[1px] border-white px-4 py-6 xl:py-10"
            >
              <h4 class="text-3xl font-bold">DipIFR</h4>
              <p class="text-xs">
                (Diploma in International Financial Reporting)
              </p>
            </div>
            <div
              class="flex flex-col items-center justify-center border-[1px] border-white px-4 py-6 xl:py-10"
            >
              <h4 class="text-3xl font-bold">CMA</h4>
              <p class="text-xs">(Certified Management Accountant)</p>
            </div>
            <div
              class="flex flex-col items-center justify-center border-[1px] border-white px-4 py-6 xl:py-10"
            >
              <h4 class="text-3xl font-bold">PFA</h4>
              <p class="text-xs">(Professional Financial Accountant)</p>
            </div>
          </div>
        </div>
        <div class="hidden flex-1 items-center lg:flex">
          <p class="text-lg text-grayPar">
            Our courses are crafted to meet international standards and are
            taught by industry experts with extensive practical experience.
            Participants benefit from hands-on training, case studies, and
            practical applications that prepare them for successful careers in
            their respective fields.
          </p>
        </div>
      </div>
      <div class="mx-4 flex items-center justify-center lg:mx-0 lg:w-5/12">
        <img
          src="courses_offered.png"
          alt="courses_offered"
          class="object-cover"
        />
      </div>
      <div class="p-4">
        <p class="text-center text-lg text-grayPar lg:hidden">
          Our courses are crafted to meet international standards and are taught
          by industry experts with extensive practical experience. Participants
          benefit from hands-on training, case studies, and practical
          applications that prepare them for successful careers in their
          respective fields.
        </p>
      </div>
    </div>
  </section>
  <section class="bg-grayBg pt-4 lg:pt-20">
    <div class="mx-auto my-12 max-w-screen-2xl">
      <div class="flex flex-col lg:flex-row">
        <div
          class="flex flex-col gap-10 p-4 text-center lg:w-1/2 lg:p-0 lg:text-left"
        >
          <h3 class="mb-5 text-3xl md:text-5xl lg:mb-10">
            At ATC over 500 employees work with motivation and quality to serve
            clients' needs
          </h3>
          <div class="items-around flex flex-1 flex-col gap-4">
            <p class="mb-4 text-grayPar">
              Our success is a derivative of our experienced human capital, the
              effective and efficient services we provide and our strong client
              relations.
            </p>
            <p class="text-grayPar">
              ATC is an advocate of continuous development of its human capital,
              providing training programs and encouraging the attainment of
              relevant international certificates.
            </p>
          </div>
        </div>
        <div class="p-4 lg:w-1/2">
          <img
            src="saudi_emplooyees.png"
            alt=""
            class="h-full w-full object-cover"
          />
        </div>
        <!-- <div class="relative lg:w-1/2">
          <img
            src="employees.png"
            alt="employees"
            class="relative bottom-0 right-0 z-20 h-full object-cover"
          />
          <img
            src="employees_bg.png"
            alt="employees_bg"
            class="absolute bottom-0 right-0 z-10 h-full object-cover"
          />
        </div> -->
      </div>
    </div>
  </section>

  <section class="mx-auto my-10 max-w-screen-2xl" id="top_management">
    <p class="mb-8 text-center text-4xl font-bold">Top Management Team</p>
    <!-- mr ashraf & mr ahmed  -->
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div class="flex flex-col justify-center p-4 text-center">
        <div class="mx-auto w-fit">
          <img src="Mr.Ashraf.png" alt="mr_ashraf" />
        </div>
        <p class="text-2xl">Mr. Ashraf Abdelghani</p>
        <p class="text-grayPar">Chairman , Senior Partner</p>
      </div>
      <div class="p-4 text-center">
        <div class="mx-auto w-fit">
          <img src="Mr.Ahmed.png" alt="mr_ahmed" />
        </div>
        <p class="text-2xl">Mr. Ahmed AbdelGhani</p>
        <p class="text-grayPar">CEO and Executive Partner</p>
      </div>
    </div>
    <!-- mr abdullah & mr soleiman  -->
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div class="flex flex-col justify-center p-4 text-center">
        <div class="mx-auto w-fit">
          <img src="sa1.png" alt="Mr_Abdullah_Al_Ajami" class="h-[340px]" />
        </div>
        <p class="text-2xl">Mr. Abdullah Al-Ajami</p>
        <p class="text-grayPar">The partner of Saudi Arabia</p>
      </div>
      <div class="p-4 text-center">
        <div class="mx-auto w-fit">
          <img src="sa2.png" alt="mr_ahmed" class="h-[340px]" />
        </div>
        <p class="text-2xl">Mr. Suleiman bin Mohammed Alquhidan</p>
        <p class="text-grayPar">The partner of Saudi Arabia</p>
      </div>
    </div>
    <!-- branch managers  -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
      <div class="flex flex-col justify-center p-4 text-center">
        <div class="mx-auto w-fit">
          <img src="Mr.Ramy.png" alt="mr_ramy" class="h-[340px]" />
        </div>
        <p class="text-2xl">Mr. Ramy Mohamed</p>
        <p class="text-grayPar">Branch Manager - Riyadh</p>
      </div>
      <div class="flex flex-col justify-center p-4 text-center">
        <div class="mx-auto w-fit">
          <img
            src="Mr.Ahmed_Ghalib.png"
            alt="mr_ahmed_ghalib"
            class="h-[340px]"
          />
        </div>
        <p class="text-2xl">Mr. Ahmed Ghalib</p>
        <p class="text-grayPar">Branch Manager - Jeddah</p>
      </div>
      <div class="flex flex-col justify-center p-4 text-center">
        <div class="mx-auto w-fit">
          <img
            src="Mr.Abdel_Lateef_Mohamed.png"
            alt="mr_abdel_lateef_mohamed"
            class="h-[340px]"
          />
        </div>
        <p class="text-2xl">Mr. Abdel Lateef Mohamed</p>
        <p class="text-grayPar">Branch Manager - Makkah</p>
      </div>
      <div class="flex flex-col justify-center p-4 text-center">
        <div class="mx-auto w-fit">
          <img src="Mr.Khaledd.jpg" alt="mr_khaled" class="h-[340px]" />
        </div>
        <p class="text-2xl">Mr. Khaled El-Sayed</p>
        <p class="text-grayPar">Branch Manager - Al Khobar</p>
      </div>
    </div>
  </section>

  <section id="life_at_atc" class="mx-auto my-16 max-w-screen-2xl">
    <div class="mx-auto mb-10 max-w-[800px] p-4 text-center lg:p-0">
      <h3 class="mb-5 text-3xl">Life at ATC</h3>
      <p class="text-lg text-grayPar">
        Life at ATC Group Middle East is dynamic and rewarding. We believe in
        fostering a supportive and inclusive work environment where our
        employees can thrive.
      </p>
    </div>
    <div
      class="mx-auto grid max-w-screen-xl grid-cols-1 gap-20 p-5 md:grid-cols-2 lg:grid-cols-3"
    >
      <div class="flex flex-col border-b-8 border-black bg-grayBg lg:m-0">
        <img src="professional_growth.png" alt="professional_growth" />
        <div class="flex flex-1 flex-col justify-between p-4">
          <h3 class="mb-4 text-2xl font-bold">Professional Growth</h3>
          <div class="flex flex-1 flex-col justify-between">
            <p class="mb-8 text-grayPar">
              We provide continuous training and development opportunities to
              help our employees advance their careers. We promote a healthy
              work-life balance, understanding the importance of personal
              well-being in professional success.
            </p>
            <!-- <a
              routerLink="/insights"
              class="w-fit border-b-2 border-primary text-center text-primary"
            >
              READ MORE
            </a> -->
          </div>
        </div>
      </div>
      <div class="flex flex-col border-b-8 border-black bg-grayBg lg:m-0">
        <img
          src="collaboration_and_innovation.png"
          alt="collaboration_and_innovation"
        />
        <div class="flex flex-1 flex-col justify-between p-4">
          <h3 class="mb-4 text-2xl font-bold">Collaboration and Innovation</h3>
          <div class="flex flex-1 flex-col justify-between">
            <p class="mb-8 text-grayPar">
              Our team members are encouraged to collaborate and share ideas,
              fostering an innovative and creative workplace.
            </p>
            <!-- <a
              routerLink="/insights"
              class="w-fit border-b-2 border-primary text-center text-primary"
            >
              READ MORE
            </a> -->
          </div>
        </div>
      </div>
      <div class="flex flex-col border-b-8 border-black bg-grayBg lg:m-0">
        <img src="our_role_in_the_world.png" alt="our_role_in_the_world" />
        <div class="flex flex-1 flex-col justify-between p-4">
          <h3 class="mb-4 text-2xl font-bold">Our role in the world</h3>
          <div class="flex flex-1 flex-col justify-between">
            <p class="mb-8 text-grayPar">
              Every day, we look to inspire confidence and empower change. Join
              us, and you could too.
            </p>
            <!-- <a
              routerLink="/insights"
              class="w-fit border-b-2 border-primary text-center text-primary"
            >
              READ MORE
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
