<section class="mx-auto my-10 max-w-screen-xl">
  <div
    class="flex flex-wrap items-center gap-3 rounded-xl p-3 text-center text-xs md:text-sm lg:text-base"
  >
    @for (tab of tabs; track $index) {
      <div
        (click)="selectTab(tab)"
        [ngClass]="{
          'bg-primary text-white': tab.isActive,
          'bg-grayBg text-gray-800': !tab.isActive,
        }"
        class="flex-basis-0 flex-grow cursor-pointer rounded-md px-1 py-3"
      >
        {{ tab.tabTitle }}
      </div>
    }
  </div>
</section>
<ng-content></ng-content>
