<app-header></app-header>
<main class="flex min-h-dvh flex-col items-center justify-center pt-40">
  @if (article && !isLoading) {
    <section class="mx-auto my-12 max-w-screen-xl p-4">
      <h2
        class="mb-8 text-center text-3xl text-primary md:text-4xl"
        [attr.dir]="getDirection(article.title)"
      >
        {{ article.title }}
      </h2>

      @if (article.video_url) {
        <div class="flex items-center justify-center">
          <div class="relative w-full" style="padding-top: 56.25%">
            <iframe
              [src]="embedUrl"
              class="absolute left-0 top-0 h-full w-full"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            >
            </iframe>
          </div>
        </div>
      } @else {
        <div class="mx-auto w-fit">
          <img
            [src]="article.images_urls[0].path"
            [alt]="article.title"
            class="w-5xl mx-auto max-h-[550px] max-w-full object-cover"
          />
        </div>
      }
      <p
        class="mt-10 text-xl text-grayPar"
        [attr.dir]="getDirection(article.description)"
      >
        {{ article.description }}
      </p>
    </section>

    @if (galleryImages.length > 0) {
      <section class="mx-auto mb-10 max-w-screen-xl p-4">
        <h3 class="mb-7 mt-5 text-center text-3xl font-bold">Images Gallery</h3>
        <div
          class="gallery grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-3"
        >
          @for (image of galleryImages; track $index) {
            <img
              [src]="image.path"
              [alt]="image.title"
              class="mx-auto max-h-[400px] w-full cursor-pointer rounded object-cover transition-opacity duration-300 hover:opacity-70"
              (click)="openModal(image)"
            />
          }
        </div>

        <!-- Modal -->
        @if (selectedImage) {
          <div
            class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-90"
          >
            <!-- Close Button -->
            <div class="absolute right-2 top-2 z-20 md:right-5 md:top-5">
              <button
                class="p-4 text-6xl font-bold text-white hover:text-primary"
                (click)="closeModal()"
              >
                &times;
              </button>
            </div>
            <div class="relative">
              <!-- Modal Content -->
              <img
                [src]="selectedImage.path"
                [alt]="selectedImage.title"
                class="m-5 mx-auto max-h-full max-w-full"
              />
              @if (article.title) {
                <div class="mt-4 text-center text-gray-300">
                  {{ article.title }}
                </div>
              }
            </div>
          </div>
        }
      </section>
    }
  }
  @if (isLoading) {
    <div class="flex h-[calc(100vh-10rem)] items-center justify-center">
      <app-loading-spinner></app-loading-spinner>
    </div>
  }
</main>
<app-footer></app-footer>
